{% extends extends %}
{% block content %}
{% if not ajax %}
<div class="container">
  <div class="padding50">
    <h1 class="text-center">
      {{ h1_page_title }}
    </h1>
    <br><br>
    {% endif %}
    {% if game_description %}
    <div class="row">
      <div class="col-md-6">
        <p class="big-text about-game-description">
          {{ game_description }}
        </p>
      </div>
      <div class="col-md-6">
        {% endif %}
        {% if game_url %}
        <a href="{{ game_url }}" target="_blank">
          {% endif %}
          <img src="{{ static_url}}img/game.png?{{ static_files_version }}" class="img-responsive about-game-image">
          {% if game_url %}
        </a>
        {% endif %}
        {% if game_description %}
      </div>
    </div>
    {% if game_url %}
    <br>
    <p>
      <a href="{{ game_url }}" class="btn btn-main btn-block btn-xl" target="_blank">
        <i class="flaticon-about"></i>
        {{ button_sentence }}
      </a>
    </p>
    {% endif %}
    {% endif %}
    {% if not ajax %}
  </div>
</div>
{% endif %}
{% endblock %}
