{% load i18n %}
{% load tools %}
{% load magi_tags %}

<style>
  {% if homepage_background %}
  body {
      background: url('{% if '//' in homepage_background %}{{ homepage_background }}{% else %}{{ static_url }}img/{{ homepage_background }}?{{ static_files_version }}{% endif %}');
  }
  {% endif %}
</style>
<div class="container">
  <div class="text-center padding50">
    <h1 class="home-site-logo"><img src="{{ site_logo }}" class="img-responsive" alt="{{ t_site_name }}"></h1>
    <h2 class="home-site-description">{{ site_description|orcallable }}</h2>
    <a href="/about_game/" data-ajax-url="/ajax/about_game/" class="btn btn-link btn-lg btn-lines home-about-game-button">
      {{ about_game_sentence }}
    </a>
    <a href="/about/" data-ajax-url="/ajax/about/" class="btn btn-link btn-lg btn-lines home-about-site-button">
      {{ about_site_sentence }}
    </a>
    {% if not user.is_authenticated %}
    <br><br><br>
    <a href="/signup/" class="btn btn-xl btn-secondary btn-lines">{% trans 'Pre-register' %}</a>
    <br><br><br>
    {% endif %}
    <h1><a href="http://twitter.com/{{ twitter }}" target="_blank" class="fontx1-5">{% trans 'Coming soon' %}</a></h1>
    {% if launch_date != True %}
    <h2 class="countdown" data-date="{{ launch_date|torfc2822 }}" data-format="{time}"></h2>
    <p class="timezone">
      <span class="datetime">{{ launch_date|torfc2822 }}</span>
      (<span class="current_timezone">UTC</span>)
    </p>
    {% endif %}
    <br><br><br>
  </div>
</div>
