{% extends "form.html" %}
{% load i18n %}
{% load tools %}
{% load magi_tags %}

{% block title %}
{% if form_name == 'preferences' %}
{% trans 'Customize' %}
{% elif form_name == 'addLink' %}
{{ add_link_sentence }}
{% elif form_name == 'changePassword' %}
{% trans 'Change your password' %}
{% elif form_name == 'emails' %}
{% trans 'Emails' %}
{% elif form_name == 'security' %}
{% trans 'Security' %}
{% else %}
{% trans 'Settings' %}
{% endif %}
{% endblock %}

{% block beforeform %}
{% if form_name == 'addLink' and links|length %}
<h1 id="links" class="text-center padding50">{% trans 'Links' %}</h1>
<br>
<form class="container_form" action="#addLink">
  <table class="table table-main table-padded table-rounded">
    {% for link in links %}
    <tr id="link{{link.id}}">
      <td>
	{% include 'include/link.html' %}
      </td>
      <td class="text-right" width="200"><a href="#deleteLink" data-link-id="{{ link.id }}" class="btn btn-lg btn-danger">{{ delete_link_sentence }}</a></td>
    </tr>
    {% endfor %}
  </table>
</form>
{% endif %}
{% endblock %}

{% block beforefields %}
{% if form_name == 'security' and blocked %}
<table class="table table-blocked table-padded table-rounded">
  {% for blocked_user in blocked %}
  <tr>
    <td><i class="flaticon-fingers"></i></td>
    <td>
      {{ blocked_user.block_message }}
    </td>
    <td class="text-right" width="200">
      <a href="/block/{{ blocked_user.id }}/" class="btn btn-lg btn-danger" target="_blank">
        {{ blocked_user.unblock_message }}
    </a></td>
  </tr>
  {% endfor %}
</table>
<br>
{% endif %}
{% endblock %}

{% block belowform %}
{% if form_name == 'addLink' %}
<h1 id="avatar" class="text-center padding50">{% trans 'Avatar' %}</h1>
<br>
<form class="container_form">
  <div class="alert alert-info">{% trans 'To change your avatar, use Gravatar with the same email address.' %}</div>
  <div class="text-right">
    <a href="https://github.com/SchoolIdolTomodachi/SchoolIdolAPI/wiki/How-to-change-your-avatar%3F" target="_blank" class="btn btn-lg btn-link">{% trans 'F.A.Q.' %}</a>
    <a class="btn btn-lg btn-main" href="https://{{ LANGUAGE_CODE }}.gravatar.com/" target="_blank">{% trans 'Change Avatar' %}</a>
  </div>
</form>

<h1 id="accounts" class="text-center padding50">{% trans 'Accounts' %}</h1>
<br>
<form class="container_form">
  <table class="table table-main table-padded table-rounded">
    {% for account in accounts %}
    <tr>
      <td><h4>{{ account }}</h4></td>
      <td class="text-right"><a href="{{ account.edit_url }}" class="btn btn-lg btn-secondary">{{ account.edit_sentence }}</a></td>
    </tr>
    {% endfor %}
  </table>
  <div class="text-right">
    <a href="/user/{{ user.id }}/{{ user.username }}/" class="btn btn-lg btn-link">{% trans 'Back to my profile' %}</a>
    <a href="/accounts/add/" class="btn btn-lg btn-main"><i class="flaticon-add"></i> {{ add_account_sentence }}</a>
  </div>
</form>

{% if user.preferences.groups %}
<h1 id="groups" class="text-center padding50"><i class="flaticon-about"></i> Your groups</h1>
<br>
<form class="container_form">
  {% if user.is_staff and global_outside_permissions %}
  <div class="alert alert-warning">
    <h5>External permissions for all staff members.</h5>
    <p>
      <small class="text-muted">
        Added manually.
        Contact the <b>team manager</b> if you don't have them.
      </small>
    </p>
    <ul>
      {% for permission in global_outside_permissions %}
      <li>{{ permission }}</li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}
  <div class="list-group">
    {% for group, details in user.preferences.groups_and_details.items %}
    <div class="list-group-item">
      <img class="pull-right" alt="{{ details.translation }}" src="{{ static_url }}img/groups/{{ group }}.png" height="100">
      <h3 class="list-group-item-heading">{{ details.translation }}</h3>
      <p class="list-group-item-text">
        <blockquote class="fontx0-8">{{ details.description }}</blockquote>
        {% if details.permissions %}
        <h5>Permissions</h5>
        <ul>
          {% for permission in details.verbose_permissions %}
          <li>{{ permission }}</li>
          {% endfor %}
        </ul>
        {% endif %}
        {% if details.outside_permissions %}
        <div class="alert alert-warning">
          <h5>External permissions</h5>
          <p>
            <small class="text-muted">
              Added manually.
              Contact the <b>team manager</b> if you don't have them.
            </small>
          </p>
          <ul>
            {% for permission in details.outside_permissions %}
            <li>{{ permission }}</li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
      </p>
      {% if details.guide %}
      <div class="text-right">
        <a class="btn btn-lg btn-secondary" href="{{ details.guide }}" target="_blank">
          Read the {{ details.translation }} guide
        </a>
      </div>
      {% endif %}
    </div>
    {% endfor %}
  </div>
</form>
{% endif %}
<br><br><br><br><br><br>
{% endif %}
{% endblock %}

{% block otherbuttons %}
<a href="/user/{{ user.id }}/{{ user.username }}/" class="btn btn-lg btn-link">{% trans 'Back to my profile' %}</a>
{% endblock %}

{% block submit %}
{% if form_name == 'addLink' %}
{{ add_link_sentence }}
{% else %}
{% trans 'Apply Changes' %}
{% endif %}
{% endblock %}
