{% extends "form.html" %}
{% load i18n %}
{% load tools %}
{% load magi_tags %}

{% block beforeforms %}
<div class="container_form">
  <h1 id="content" class="text-center padding50"><i class="flaticon-settings"></i> {% trans 'Settings' %}</h1>
  <div class="list-group">
    <div class="list-group-item active"><h4>{% trans 'Profile' %}</h4></div>
    {% for form_name, form in forms.items %}
    {% if form_name == 'form' %}
    <div class="list-group-item active"><h4>{% trans 'Preferences' %}</h4></div>
    {% elif form_name == 'security' %}
    <div class="list-group-item active"><h4>{% trans 'More' %}</h4></div>
    {% elif form_name == 'addLink' %}
    <a href="#avatar" class="list-group-item page-scroll"><i class="flaticon-portrait"></i> {% trans 'Avatar' %} <span class="glyphicon glyphicon-chevron-down pull-right"></span></a>
    {% if links|length %}
    <a href="#links" class="list-group-item page-scroll"><i class="flaticon-url"></i> {% trans 'Links' %} <span class="glyphicon glyphicon-chevron-down pull-right"></span></a>
    {% endif %}
    {% endif %}
    <a href="#{{ form_name }}" class="list-group-item page-scroll"><i class="flaticon-{{ form.icon }}"></i> {{ form.form_title }} <span class="glyphicon glyphicon-chevron-down pull-right"></span></a>
    {% if form_name == 'addLink' %}
    {% if 'donationLink' not in forms %}
    <a href="#customLink" class="list-group-item page-scroll"><i class="flaticon-add"></i> {{ add_custom_link_sentence }} <span class="glyphicon glyphicon-chevron-down pull-right"></span></a>
    {% endif %}
    {% endif %}
    {% endfor %}
    <a href="#accounts" class="list-group-item page-scroll"><i class="flaticon-album"></i> {% trans 'Accounts' %} <span class="glyphicon glyphicon-chevron-down pull-right"></span></a>
    {% if user.preferences.groups %}
    <a href="#groups" class="list-group-item page-scroll"><i class="flaticon-about"></i> Your groups <span class="glyphicon glyphicon-chevron-down pull-right"></span></a>
    {% endif %}
  </div>
</div>
{% endblock %}

{% block beforeform %}
{% if form_name == 'addLink' %}
<h1 id="avatar" class="text-center padding50"><i class="flaticon-portrait"></i> {% trans 'Avatar' %}</h1>
<br>
<form class="container_form" data-form-name="avatar">
  <div class="alert alert-info">{% trans 'To change your avatar, use Gravatar with the same email address.' %}</div>
  <div class="text-right">
    <a href="#content" class="btn btn-lg btn-link page-scroll"><span class="glyphicon glyphicon-chevron-up"></span></a>
    {% if LANGUAGE_CODE not in languages_cant_speak_english %}<a href="/help/Change%20your%20profile%20picture" target="_blank" class="btn btn-lg btn-link">{% trans 'F.A.Q.' %}</a>{% endif %}
    <a class="btn btn-lg btn-main" href="https://{{ LANGUAGE_CODE }}.gravatar.com/" target="_blank">{% trans 'Change Avatar' %}</a>
  </div>
</form>
{% if links|length %}
<h1 id="links" class="text-center padding50"><i class="flaticon-url"></i> {% trans 'Links' %}</h1>
<br>
<form class="container_form" action="#addLink" data-form-name="addLink">
  <table class="table table-main table-padded table-rounded">
    {% for link in links %}
    <tr id="link{{link.id}}">
      <td>
	{% include 'include/link.html' %}
      </td>
      <td class="text-right" width="200"><a href="#deleteLink" data-link-id="{{ link.id }}" class="btn btn-lg btn-danger">{{ delete_link_sentence }}</a></td>
    </tr>
    {% endfor %}
  </table>
</form>
{% endif %}
{% endif %}
{% endblock %}

{% block beforefields %}
{% if form_name == 'donationLink' %}
<p class="text-right text-secondary">{{ user.preferences.t_status }} - {% trans 'Premium feature' %} <i class="flaticon-promo"></i></p>
{% elif form_name == 'security' %}
{% if blocked %}
<table class="table table-blocked table-padded table-rounded">
  {% for blocked_user in blocked %}
  <tr>
    <td><i class="flaticon-block"></i></td>
    <td>
      {{ blocked_user.block_message }}
    </td>
    <td class="text-right" width="200">
      <a href="/block/{{ blocked_user.id }}/" class="btn btn-lg btn-danger" target="_blank">
        {{ blocked_user.unblock_message }}
    </a></td>
  </tr>
  {% endfor %}
  {% endif %}
  {% for report in reports %}
  <div class="alert alert-{% if report.status == 'Edited' %}warning{% else %}danger{% endif %} progress-bar-striped">
	<small class="timezone" data-timeago="true">
	  <span class="datetime">{{ report.modification|torfc2822 }}</span>
	  (<span class="current_timezone">UTC</span>)
	</small><br>
    <p class="padding20 padding-nohorizontal">{{ report.introduction_sentence }}</p>
    <strong>{% trans 'Staff Message:' %}</strong><br>
    <div class="panel panel-default"><div class="panel-body">
        {% if user.preferences.i_language and user.preferences.language != 'en' %}
        <img src="{{ static_url }}img/language/en.png?{{ static_files_version }}"
             alt="{{ t_english }}" class="pull-right" width="25" />
        {% endif %}
        {{ report.staff_message }}
    </div></div>
    <p class="text-right"><small>
        {% if user.preferences.i_language and user.preferences.language != 'en' %}
        <a href="{% translationURL value=report.staff_message %}"
           target="_blank">
          {% with from_language=t_english to_language=user.preferences.t_language %}
          {% blocktrans %}Translate from {{ from_language }} to {{ to_language }}{% endblocktrans %}
          {% endwith %}
          <i class="flaticon-link"></i>
        </a> -
        {% endif %}
        {% trans 'Moderated by:' %}
        <a href="{{ report.staff.item_url }}">{{ report.staff }}</a>
    </small></p>
  </div>
  {% endfor %}
</table>
<br>
{% endif %}
{% endblock %}

{% block belowform %}
{% if form_name == 'preferences' %}
{% if user.is_staff %}
<div class="container_form text-center">
  <br><br><br>
  Looking for your staff profile details?
  <br><br>
  <div class="text-right">
    <a href="/staffdetailss/" class="btn btn-main btn-lg">Edit staff details</a>
  </div>
</div>
{% endif %}
{% elif form_name == 'addLink' %}
{% if 'donationLink' not in forms %}
<h1 id="customLink" class="text-center padding50"><i class="flaticon-add"></i> {{ add_custom_link_sentence }}</h1>
<br>
<form class="container_form" data-form-name="customlink">
  <p class="text-secondary"><i class="flaticon-promo"></i> {% trans 'Premium feature' %}</p>
  <p>{% trans 'If you like the website, please consider donating' %}. {% trans 'This will help us cover the costs of the servers and allow us to keep it running for free and without ads.' %}</p>
  <div class="text-right">
    <a href="#content" class="btn btn-lg btn-link page-scroll"><span class="glyphicon glyphicon-chevron-up"></span></a>
    <a href="/donate/" target="_blank" class="btn btn-lg btn-link">{% trans 'Learn more' %}</a>
    <a class="btn btn-lg btn-main" href="/donate/" target="_blank">{% trans 'Donate' %}</a>
  </div>
</form>
{% endif %}
{% endif %}
{% endblock %}

{% block belowforms %}
<h1 id="accounts" class="text-center padding50"><i class="flaticon-album"></i> {{ accounts_title_sentence }}</h1>
<br>
<form class="container_form" data-form-name="accounts">
  <table class="table table-main table-padded table-rounded">
    {% for account in accounts %}
    <tr>
      <td><h4>{{ account }}</h4></td>
      <td class="text-right"><a href="{{ account.edit_url }}" class="btn btn-lg btn-secondary">{{ account.edit_sentence }}</a></td>
    </tr>
    {% endfor %}
  </table>
  <div class="text-right">
    <a href="#content" class="btn btn-lg btn-link page-scroll"><span class="glyphicon glyphicon-chevron-up"></span></a>
    <a href="/user/{{ user.id }}/{{ user.username }}/" class="btn btn-lg btn-link">{{ back_to_profile_sentence }}</a>
    <a href="/accounts/add/" class="btn btn-lg btn-main"><i class="flaticon-add"></i> {{ add_account_sentence }}</a>
  </div>
</form>

{% if user.preferences.groups %}
<h1 id="groups" class="text-center padding50"><i class="flaticon-about"></i> Your groups</h1>
<br>
<form class="container_form" data-form-name="groups">
  {% if user.is_staff and global_outside_permissions %}
  <div class="alert alert-warning">
    <h5>External permissions for all staff members.</h5>
    <p>
      <small class="text-muted">
        Added manually.
        Contact the <b>team manager</b> if you don't have them.
      </small>
    </p>
    <ul>
      {% for permission, url in global_outside_permissions.items %}
      <li>
        {% if url %}<a href="{{ url }}" target="_blank">{% endif %}
          {{ permission }}
        {% if url %} <i class="flaticon-link"></i></a>{% endif %}
      </li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}
  <div class="list-group">
    {% for group, details in user.preferences.groups_and_details.items %}
    <div class="list-group-item">
      <img class="pull-right" alt="{{ details.translation }}" src="{{ static_url }}img/groups/{{ group }}.png?{{ static_files_version }}" height="100">
      <h3 class="list-group-item-heading">{{ details.translation }}</h3>
      <p class="list-group-item-text">
        <blockquote class="fontx0-8">{{ details.description }}</blockquote>
        {% if details.permissions %}
        <h5>Permissions</h5>
        <ul>
          {% for permission in details.verbose_permissions %}
          <li>{{ permission }}</li>
          {% endfor %}
        </ul>
        {% with settings=user.preferences.t_settings_per_groups|getattribute:group %}
        {% if settings %}
        Settings:
        <ul>
          {% for setting, value in settings.items %}
          <li><strong>{{ setting }}</strong>: {{ value }}</li>
          {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% endif %}
        {% if details.outside_permissions %}
        <div class="alert alert-warning">
          <h5>External permissions</h5>
          <p>
            <small class="text-muted">
              Added manually.
              Contact the <b>team manager</b> if you don't have them.
            </small>
          </p>
          <ul>
            {% for permission, url in details.outside_permissions.items %}
            <li>
              {% if url %}<a href="{{ url }}" target="_blank">{% endif %}
                {{ permission }}
              {% if url %} <i class="flaticon-link"></i></a>{% endif %}
            </li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
      </p>
      {% if details.guide %}
      <div class="text-right">
        <a class="btn btn-lg btn-secondary" href="{{ details.guide }}" target="_blank">
          Read the {{ details.translation }} guide
        </a>
      </div>
      {% endif %}
    </div>
    {% endfor %}
  </div>
  <div class="text-right">
    <a href="#content" class="btn btn-lg btn-link page-scroll"><span class="glyphicon glyphicon-chevron-up"></span></a>
  </div>
</form>
<br><br><br><br><br><br>
{% endif %}
{% endblock %}

{% block otherbuttons %}
<a href="#content" class="btn btn-lg btn-link page-scroll"><span class="glyphicon glyphicon-chevron-up"></span></a>
{% if form_name == 'changePassword' %}
<a href="/password_reset/" class="btn btn-lg btn-link">{% trans 'Forgot password?' %}</a>
{% else %}
<a href="/user/{{ user.id }}/{{ user.username }}/" class="btn btn-lg btn-link">{{ back_to_profile_sentence }}</a>
{% endif %}
{% endblock %}

{% block submit %}
{% if form_name == 'addLink' %}
{{ add_link_sentence }}
{% else %}
{% trans 'Apply Changes' %}
{% endif %}
{% endblock %}
