{% extends "sidebar.html" %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block js %}
<script>
  var site_url = '{{ site_url }}';
  var current = '{{ current }}';
  var github_repository_username = '{{ wiki.0 }}';
  var github_repository_name = '{{ wiki.1 }}';
</script>
{% endblock %}

{% block sidebar %}
{% load tools %}
      <div id="wiki-sidebar"></div>
      <br><br><br>
      <a href="{{ full_wiki_url }}_new" target="_blank">{% trans 'Create a new wiki page' %}</a><br>
      <a href="{{ full_wiki_url }}_Sidebar/_edit" target="_blank">{% trans 'Edit the sidebar' %}</a><br>
      <small class="text-muted"><i>{% trans 'Note: You need an account on GitHub to add/edit wiki pages' %}</i></small>
{% endblock %}

{% block sidebar_content %}
      <h1 class="text-center padding50">
        <span id="wiki-title" data-url="{{ wiki_url }}">{{ page_title }}</span>
        {% if wiki_url != 'Home' and wiki_url != '_Sidebar' %}
        <br><a href="/{{ current }}/"><small>{% trans 'Back to wiki home' %}</small></a>
        {% endif %}
      </h1>
      <div id="wiki-content"></div>
      <div class="text-right">
        <br><br><br>
        <a href="{{ full_wiki_url }}Home/_edit" target="_blank" class="btn btn-main btn-lg edit-link">{% trans 'Edit this wiki page' %}</a><br>
        <small class="text-muted"><i>{% trans 'Note: You need an account on GitHub to add/edit wiki pages' %}</i></small>
      </div>
{% endblock %}
