{% extends "base.html" %}
{% block content %}
<div class="container">
  <h1 class="padding20 text-center">Translations</h1>

  <h2>
    {% if see_all %}
    <a href="." class="pull-right btn btn-main btn-lg">See only the languages you speak</a>
    {% else %}
    <a href="?see_all" class="pull-right btn btn-main btn-lg">See all languages</a>
    {% endif %}
    {{ percent_translated }}% completed ({{ total_translated }}/{{ total }}).<br>
    {{ total_need_translations }} missing translations.
  </h2>
  {% for language, details in total_per_languages.items %}
  <div style="display: inline-block" class="padding20">
    <img src="{{ details.image }}" height="30" />
    <a href="?language={{ language }}">{{ details.verbose_name }}</a>
    <span href="#" class="badge" data-toggle="tooltip" data-html="true"
          title="{{ details.total_translated }}/{{ details.total }}<br> {{ details.total_need_translations }} missing translations">
      {{ details.percent_translated }}%</span>
  </div>
  {% endfor %}

  <br><br>

  <p class="alert alert-info">
    Click on any button below to open all the items that have a missing translation for the
    specified language and field.
  </p>

  {% for collection in collections %}
  {% if collection.translated_fields_per_languages %}
  <h2>
    {% if collection.icon %}
    <i class="flaticon-{{ collection.icon }}"></i>
    {% elif collection.image %}
    <img src="{{ static_url }}img/{{ collection.image }}.png?{{ static_files_version }}" height="30" />
    {% endif %}
    {{ collection.title }}
  </h2>
    {% for language, details in collection.translated_fields_per_languages.items %}
    <div style="display: inline-block" class="padding20">
      <img src="{{ details.image }}" height="30" />
      {{ details.verbose_name }}
      {% for field in details.fields %}
      <div>
      <div class="btn-group">
        <{% if field.total_need_translations == 0 %}span style="cursor: not-allowed;"{% else %}a href="{{ collection.list_url }}?missing_{{ field.name }}_translations={{ language }}"{% endif %}
           class="btn btn-{% if field.total_need_translations == 0 %}success{% else %}secondary{% endif %} btn-sm" target="_blank">
          {{ field.verbose_name }} ({{ field.total_translated }}/{{ field.total }})
          {% if field.total_need_translations == 0 %}
          <i class="flaticon-checked"></i>
          {% endif %}
        </{% if field.total_need_translations == 0 %}span{% else %}a{% endif %}>
        {% if field.total_need_translations != 0 %}
        <a href="#" class="btn btn-secondary btn-sm dropdown-toggle"
           data-toggle="dropdown">
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li><a href="{{ collection.list_url }}?missing_{{ field.name }}_translations={{ language }}" target="_blank">
              <i class="flaticon-translate"></i> Translate missing terms <span class="badge">{{ field.total_need_translations }}</span></a>
          </li>
          {% if field.total_translated %}
          <li><a href="/translations_duplicator/{{ collection.name }}/{{ field.name }}/{{ language }}/" target="_blank">
              <i class="flaticon-deck"></i> Automatically duplicate identical translations
          </a></li>
          {% endif %}
        </ul>
        {% endif %}
      </div>
      {% if field.source_languages %}<br>
      <div class="label label-default"><small>Translate from:
        {% for source_verbose in field.source_languages.values %}{% if forloop.counter0 != 0 %} or {% endif %}
          {{ source_verbose }}
        {% endfor %}
      </small></div>
      {% endif %}
      </div>
      {% endfor %}
    </div>
    {% endfor %}
    {% endif %}
  {% endfor %}

  {% if staff_configurations_per_languages %}
  <h2>
    <i class="flaticon-settings"></i>
    Configurations
  </h2>
  {% for language, details in staff_configurations_per_languages.items %}
  <div style="display: inline-block" class="padding20">
    <img src="{{ details.image }}" height="30" />
    {{ details.verbose_name }}
    {% for staff_configuration in details.fields %}
    <a href="/staffconfigurations/?key={{ staff_configuration.key }}&i_language={{ language }}"
       class="btn btn-{% if staff_configuration.need_translation %}secondary{% else %}success{% endif %} btn-sm"
       target="_blank">
      {{ staff_configuration.verbose_key }}
      {% if staff_configuration.need_translation %}
      (0/1)
      {% else %}
      <i class="flaticon-checked"></i>
      {% endif %}
    </a>
    {% endfor %}
  </div>
  {% endfor %}
  {% endif %}

  <br><br><br>

  <div class="text-center">
    <h2>See also:</h2>

    {% if guide %}
    <a href="{{ guide }}" class="btn btn-xl btn-secondary" target="_blank">
      Translator guide
    </a>
    {% endif %}

    {% if poeditor %}
    <a href="{{ poeditor }}" class="btn btn-xl btn-secondary" target="_blank">
      POEditor
    </a>
    {% endif %}

  </div>

  <br><br><br><br><br><br>

</div>
{% endblock %}
