{% load i18n %}
Nice to meet you, I'm Deby! My goal is to bring joy and happiness to people around the world by bringing them
together through their shared interests. That's why I started MagiCircles: a tool to create online communities
and databases about your favorite games, hobbies, TV shows, or anything you like!<br><br>
{% blocktrans %}The heartwarming support from the community keeps motivating us to do more! We love helping the community by providing as much information as we can about the game, while keeping the app easy to use, shiny and cute ^_^{% endblocktrans %}
<br><br>
{% blocktrans %}We don't know how far we will go with this, but one thing we know for sure is that we are having a lot of fun doing it and sharing this adventure with you.{% endblocktrans %}
