{# Required: alert_message OR alert_title (or both) #}
{# Optional: alert_message, alert_title, alert_type, alert_flaticon, alert_button_link, alert_button_string #}
{% load i18n %}
<div class="alert alert-{% if alert_type %}{{ alert_type }}{% else %}warning{% endif %}">
  <div class="row">
    <div class="col-sm-2 text-center hidden-xs">
      <i class="flaticon-{% if alert_flaticon %}{{ alert_flaticon }}{% else %}about{% endif %} fontx2"></i>
    </div>
    <div class="col-sm-{% if alert_button_link %}7{% else %}10{% endif %}">
      {% if alert_title %}<h4>{{ alert_title }}</h4>{% endif %}
      {% if alert_message %}{{ alert_message }}{% endif %}
    </div>
    {% if alert_button_link %}
    <div class="col-sm-3 hidden-xs">
      <a href="{{ alert_button_link }}" class="btn btn-main btn-lg btn-block" target="_blank">
	{{ alert_button_string }}
	<i class="flaticon-link"></i>
      </a>
    </div>
    {% endif %}
  </div>
</div><br>
