{# variables: fields, bottom #}
{# when bottom=True, needs user and item #}
{% load tools %}
{% load magi_tags %}
  <table class="table about-table">
    {% for field_name, field in fields.items %}
    <tr data-field="{{ field_name }}">
      <td>
	{% if field.icon %}
	<i class="flaticon-{{ field.icon }}"></i>
	{% elif field.image %}
	<img src="{{ field.image }}" alt="{{ field.verbose_name }}">
	{% endif %}
      </td>
      {% if field.type != 'long_text' %}<th>{{ field.verbose_name }}</th>{% endif %}
      <td{% if field.type == 'long_text' %} colspan="2"{% endif %}>
	{% if field.type == 'text_with_link' %}
	{{ field.value }}<br>
	<a href="{{ field.link }}" target="_blank"{% if field.ajax_link %} data-ajax-url="{{ field.ajax_link }}" data-ajax-title="{{ field.value }}"{% endif %}>
	  {{ field.link_text }}
	  <i class="flaticon-link fontx0-8"></i>
	</a>
	{% elif field.type == 'title_text' %}
	<strong>{{ field.title }}</strong><br>
	<p>{{ field.value }}</p>
	{% elif field.type == 'image' %}
	<a href="{{ field.value }}" target="_blank"{% if field.ajax_link %} data-ajax-url="{{ field.ajax_link }}" data-ajax-title="{{ field.value }}"{% endif %}>
	  <img src="{{ field.value }}" alt="{{ field.verbose_name }}">
	</a>
	{% elif field.type == 'images' %}
        {% for image in field.images %}
	<a href="{{ image.value }}" target="_blank"{% if image.ajax_link %} data-ajax-url="{{ image.ajax_link }}" data-ajax-title="{{ image.value }}"{% endif %}>
	  <img src="{{ image.value }}" alt="{{ image.verbose_name }}">
	</a>
        {% endfor %}
	{% elif field.type == 'image_link'  %}
        <a href="{{ field.link }}" target="_blank"{% if field.ajax_link %} data-ajax-url="{{ field.ajax_link }}" data-ajax-title="{{ field.link_text }}"{% endif %}>
	  <img src="{{ field.value }}" alt="{{ field.link_text }}">
        </a>
	{% elif field.type == 'images_links'  %}
        {% for image in field.images %}
        <a href="{{ image.link }}" target="_blank"{% if image.ajax_link %} data-ajax-url="{{ image.ajax_link }}" data-ajax-title="{{ image.link_text }}"{% endif %}>
	  <img src="{{ image.value }}" alt="{{ image.link_text }}">
        </a>
        {% endfor %}
	{% elif field.type == 'bool' %}
	{% if field.value %}
	<i class="flaticon-checked"></i> {% t 'Yes' %}
	{% else %}
	<i class="flaticon-delete"></i> {% t 'No' %}
	{% endif %}
	{% elif field.type == 'link' %}
	<a href="{{ field.value }}" target="_blank"{% if field.ajax_link %} data-ajax-url="{{ field.ajax_link }}" data-ajax-title="{{ field.value }}"{% endif %}>
	  {{ field.link_text }}
	</a>
	{% elif field.type == 'button' %}
	<a href="{{ field.value }}" target="_blank" class="btn btn-lg btn-secondary"{% if field.ajax_link %} data-ajax-url="{{ field.ajax_link }}" data-ajax-title="{{ field.value }}"{% endif %}>
	  {{ field.link_text }}
	</a>
	{% elif field.type == 'timezone_datetime' %}
	{% for timezone in field.timezones %}
	<span class="timezone" data-to-timezone="{{ timezone }}"
	      {% if forloop.counter0 != 0 %} style="display: none;"{% endif %}>
	  <span class="datetime">{{ field.value|torfc2822 }}</span>
	  (<span class="current_timezone">UTC</span>)
	</span><br>
	{% endfor %}
	{% elif field.type == 'long_text' %}
        <strong class="long-text-title">{{ field.verbose_name }}</strong>
        {{ field.value }}
	{% elif field.type == 'itunes' %}
        <div class="itunes" data-itunes-id="{{ field.value }}"></div>
	{% elif field.type == 'html' %}
	{{ field.value|safe }}
	{% else %}
	{{ field.value }}
	{% endif %}
      </td>
    </tr>
    {% endfor %}
    {% if bottom %}
    {% load i18n %}
    {% if comments_enabled %}
    <tr>
      <td><i class="flaticon-comments"></i></td>
      <th>{% trans 'Comments' %}</th>
      <td>
	<a href="{{ item.http_item_url }}#disqus_thread" class="btn btn-lg btn-secondary"{% if current != item.collection_name|add:'_item' %} target="_blank"{% endif %}>
	  {% trans 'Comments' %}
	</a>
      </td>
    </tr>
    {% endif %}
    <tr>
      <td><i class="flaticon-link"></i></td>
      <th>{% trans 'Share' %}</th>
      <td>
	<span class="btn-group">
	  {% include 'include/share.html' with share_url=item.http_item_url share_btn_class="secondary btn-lg" share_sentence=item %}
	</span>
      </td>
    </tr>
    {% if show_edit_button %}
    {% if not show_edit_button_owner_only or item.owner_id == user.id or user.is_staff %}
    <tr{% if show_edit_button_owner_only and item.owner_id != user.id %} class="staff-only"{% endif %}>
      <td><i class="flaticon-edit"></i></td>
      <th>{{ item.edit_sentence }}</th>
      <td>
	<a href="{{ item.edit_url }}" class="btn btn-lg btn-secondary"><i class="flaticon-edit"></i></a>
      </td>
    </tr>
    {% endif %}
    {% endif %}
    {% endif %}
  </table>
