{% if uses_deprecated_to_fields %}
{% include 'include/deprecated_fields_table.html' %}
{% else %}
<div class="flex-table with-top-border about-flex-table" role="table">
    {% for field_name, field in fields.items %}
    {% if field.display_field %}
    {% for html, display_parameters, buttons_html, is_multifield in field.html %}{# for multifields #}
    {% if field.full_size_template %}
    {% include field.full_size_template|add:'.html' with item=field.item value=field.value display_parameters=display_parameters %}
    {% else %}
    <div class="flex-tr {% for cls in display_parameters.classes %}{{ cls }} {% endfor %}"
         data-field="{{ display_parameters.field_name }}" role="row"
         {% if display_parameters.attributes %}
         {% for attribute, value in display_parameters.attributes.items %} {{ attribute }}="{{ value }}"{% endfor %}
         {% endif %}>

      {# Icon td #}

      {% if not hide_icons %}
      <div class="flex-td about-flex-td-icon">
        {% if display_parameters.image %}
        <img src="{{ display_parameters.image }}" alt="{{ display_parameters.verbose_name }}" />
        {% elif display_parameters.icon %}
        <i class="flaticon-{{ display_parameters.icon }}"></i>
        {% endif %}
      </div>{# about-flex-td #}{% endif %}

      {# Title th #}

      <div class="flex-th about-flex-th-title {% if display_parameters.spread_across %}visible-xs{% endif %}">
        <strong class="verbose-name">{{ display_parameters.verbose_name }}</strong>
        {% if display_parameters.verbose_name_subtitle %}
        <br><small class="text-muted verbose-name-subtitle">
          {{ display_parameters.verbose_name_subtitle }}
        </small>
        {% endif %}
      </div>{# about-flex-th #}

      {# Content td #}

      <div class="flex-td about-flex-td-content flex-collapse-sm {% if display_parameters.spread_across %}spread-across{% endif %}">
        {% if display_parameters.spread_across %}
        <strong class="verbose-name hidden-xs long-text-title">{{ display_parameters.verbose_name }}</strong>
        {% endif %}

        <div class="field-content {% if display_parameters.text_align %}text-{{ display_parameters.text_align }}{% endif %}">
          {% if field.template %}
          {% include field.template|add:'.html' with item=field.item value=field.value display_parameters=display_parameters %}
          {% else %}
          {{ html }}
          {% endif %}
          {% if display_parameters.annotation %}
          <br><small class="text-muted">{{ display_parameters.annotation }}</small>
          {% endif %}
        </div>{# field-content #}

        <div class="field-buttons">
          {{ buttons_html }}
        </div>{# field-button #}

      </div>{# about-flex-td #}

    </div>{# about-flex-tr #}
    {% endif %}
    {% endfor %}
    {% endif %}
    {% endfor %}
</div>{# about-flex-table #}
{% endif %}
