{% load i18n %}
{% load tools %}
{% load l10n %}
{% if shortcut_url == '' %}
<div class="default-index {% if user.is_authenticated %}index-authenticated{% else %}index-not-authenticated{% endif %}">
  <header>
    <h1 class="home-site-logo"><img src="{{ site_logo }}" class="img-responsive" alt="{{ site_name }}"></h1>
    <h2 class="home-site-description">{{ site_description|orcallable }}</h2>
    {% if user.is_authenticated and 'donate' in all_enabled %}
    <p class="fontx1-5 home-site-donate-message">
      {% blocktrans %}is crowdfunded by {{ total_donators }} {{ adjective }} donators{% endblocktrans %}
      <a href="/donate/" class="btn btn-secondary">{% trans 'Donate' %}</a>
    </p>
    {% if donation_month and donation_month.percent < 100 %}
    <div class="progress">
      <div class="progress-bar progress-bar-{% if donation_month.percent == 100 %}success{% else %}main{% endif %} progress-bar-striped active" style="width: {% localize off %}{{ donation_month.percent }}{% endlocalize %}%;">
	{% if donation_month.percent > 40 %}{{ donation_month.date|date:"F" }}: {% with percent=donation_month.percent_int %}{% blocktrans %}{{ percent }}% funded{% endblocktrans %}{% endwith %}{% endif %}
      </div>
      {% if donation_month.percent <= 40 %}<span class="text-muted no-donation">{{ donation_month.date|date:"F" }}: {% if donation_month.donations %}{% with percent=donation_month.percent_int %}{% blocktrans %}{{ percent }}% funded{% endblocktrans %}{% endwith %}{% else %}{% with percent=0 %}{% blocktrans %}{{ percent }}% funded{% endblocktrans %}{% endwith %}{% endif %}</span>{% endif %}
    </div>
    {% endif %}
    {% endif %}
    {% if not user.is_authenticated %}
    <a href="/about_game/" data-ajax-url="/ajax/about_game/" class="btn btn-link btn-lg home-about-game-button">
      {% with site_name=game_name %}{% blocktrans %}About {{ site_name }}{% endblocktrans %}{% endwith %}
    </a>
    <a href="/about/" data-ajax-url="/ajax/about/" class="btn btn-link btn-lg home-about-site-button">
      {% blocktrans %}About {{ site_name }}{% endblocktrans %}
    </a>
    <br><br><br>
    <a href="/signup/" class="btn btn-xl btn-secondary home-call-to-action">
      {% trans call_to_action %}
    </a>
    {% endif %}
  </header>
  {% if latest_news %}
  <div id="carousel-latest-news" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      {% for news in latest_news %}
      <li data-target="#carousel-latest-news" data-slide-to="{{ forloop.counter0 }}"{% if forloop.counter0 == 0 %} class="active"{% endif %}></li>
      {% endfor %}
    </ol>
    <div class="carousel-inner" role="listbox">
      {% for news in latest_news %}
      <a href="{{ news.url }}" class="item{% if forloop.counter0 == 0 %} active{% endif %}{% if news.css_classes %} {{ news.css_classes }}{% endif %}"
         {% if news.ajax %} data-ajax-url="{{ news.ajax }}" data-ajax-title="{% if news.t_titles and news.t_titles|getattribute:LANGUAGE_CODE %}{{ news.t_titles|getattribute:LANGUAGE_CODE }}{% else %}{{ news.title }}{% endif %}"{% endif %}
         {% if news.background %} style="background-image: url('{{ news.background }}'); height: 200px"{% endif %}
         >
	    {% if news.image %}<img src="{% if '//' in news.image %}{{ news.image }}{% else %}{{ static_url }}img/{{ news.image }}?{{ static_files_version }}{% endif %}" alt="{% if news.t_titles and news.t_titles|getattribute:LANGUAGE_CODE %}{{ news.t_titles|getattribute:LANGUAGE_CODE }}{% else %}{{ news.title }}{% endif %}">{% endif %}
	    <div class="carousel-caption">
	      {% if not news.hide_title %}<h2>{% if news.t_titles and news.t_titles|getattribute:LANGUAGE_CODE %}{{ news.t_titles|getattribute:LANGUAGE_CODE }}{% else %}{{ news.title }}{% endif %}</h2>{% endif %}
	    </div>
      </a>
      {% endfor %}
    </div>
    <a class="left carousel-control" data-target="#carousel-latest-news" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" data-target="#carousel-latest-news" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
  </div>
  {% endif %}
  <div class="after-news"></div>
  {% if staff_configurations.below_homepage_banners and staff_configurations.below_homepage_banners|getattribute:LANGUAGE_CODE %}<div class="below-banners to-markdown">{{ staff_configurations.below_homepage_banners|getattribute:LANGUAGE_CODE }}</div>{% endif %}
</div>
{% if user.is_authenticated and 'activity' in all_enabled %}
<ul class="nav nav-tabs" id="hometabs">
  {% for tab_name, tab in activity_tabs.items %}
  <li data-tab-name="{{ tab_name }}"{% if active_activity_tab == tab_name %} class="active"{% endif %}><a href="{{ tab.url }}" ><i class="flaticon-{{ tab.icon }} visible-xs"></i> <span class="{% if active_activity_tab != tab_name %}hidden-xs{% endif %}">{{ tab.title }}</span></a></li>
  {% endfor %}
  <li><a class="togglebutton" href="/activities/" ><i class="flaticon-search"></i><i class="flaticon-toggler hidder"></i></a></li>
</ul>
{% endif %}
{% endif %}
