<div class="text-center top-item"{% if item_padding %} style="padding: {% if not item_padding|length %}{{ item_padding }}px{% elif item_padding|length >= 2 %}{{ item_padding.0 }}px {{ item_padding.1 }}px{% if item_padding|length >= 4 %} {{ item_padding.2 }}px {{ item_padding.3 }}px{% endif %}{% else %}{{ item_padding }}px{% endif %};"{% endif %}{% for key, value in item.html_attributes_in_list.items %} {{ key }}="{{ value }}"{% endfor %}{% for key, value in item.html_attributes.items %} {{ key }}="{{ value }}"{% endfor %}>
  {% if item_view_enabled or item.display_item_url %}
  <a href="{% if item.display_item_url %}{{ item.display_item_url }}{% else %}{{ item.item_url }}{% endif %}"{% if ajax_item_view_enabled %} data-ajax-url="{{ item.ajax_item_url }}" data-ajax-title="{{ item }}"{% endif %}{% if ajax_item_popover %} data-ajax-popover="{{ item.ajax_item_url }}" title="{{ item }}"{% endif %}>
    {% endif %}
    {% if item.top_html_list %}
    {{ item.top_html_list|safe }}
    {% elif item.top_html %}
    {{ item.top_html|safe }}
    {% elif item.top_image_list or item.top_image or item.image %}
    <img src="{% if item.top_image_list %}{{ item.top_image_list }}{% elif item.top_image %}{{ item.top_image }}{% else %}{{ item.image_url }}{% endif %}" alt="{{ item }}" class="{{ item.collection_name }}-image img-responsive" style="{% if item_max_height %} max-height: {{ item_max_height }}px;{% endif %}">
    {% elif not show_items_names %}
    {% if item.display_name_in_list %}
    {{ item.display_name_in_list }}
    {% elif item.display_name %}
    {{ item.display_name }}
    {% else %}
    {{ item }}
    {% endif %}
    {% endif %}
    {% if show_items_names %}
    <h3 class="{{ item.collection_name }}-name">
      {% if item.display_name_in_list %}
      {{ item.display_name_in_list }}
      {% elif item.display_name %}
      {{ item.display_name }}
      {% else %}
      {{ item }}
      {% endif %}
    </h3>
    {% endif %}
    {% if item_view_enabled %}
  </a>
  {% endif %}
</div>
