<div class="item-info {{ item.collection_name }}-info"{% for key, value in item.html_attributes.items %} {{ key }}="{{ value }}"{% endfor %}{% for key, value in item.html_attributes_item.items %} {{ key }}="{{ value }}"{% endfor %}>
  <div class="text-center top-item" style="padding: {% if item_padding.0 %}{{ item_padding.0 }}px {{ item_padding.1 }}px{% if item_padding.2 %} {{ item_padding.2 }}px {{ item_padding.3 }}px{% endif %}{% else %}{{ item_padding }}px{% endif %};">
    {% if top_illustration %}
    {% include top_illustration|add:'.html' %}
    {% elif item.top_html_item %}
    {{ item.top_html_item|safe }}
    {% elif item.top_html %}
    {{ item.top_html|safe }}
    {% elif item.top_image_item or item.top_image or item.image %}
    <a href="{% if item.top_image_item %}{% if item.top_image_item_hd %}{{ item.top_image_item_hd }}{% else %}{{ item.top_image_item }}{% endif %}{% elif item.top_image %}{% if item.top_image_hd %}{{ item.top_image_hd }}{% else %}{{ item.top_image }}{% endif %}{% else %}{% if item.image_2x_url %}{{ item.image_2x_url }}{% else %}{{ item.image_original_url }}{% endif %}{% endif %}" target="_blank">
      <img src="{% if item.top_image_item %}{{ item.top_image_item }}{% elif item.top_image %}{{ item.top_image }}{% else %}{{ item.image_url }}{% endif %}" alt="{{ item }}" class="{{ item.collection_name }}-image" style="{% if item_max_height %} max-height: {{ item_max_height }}px;{% endif %}"><!-- data-hd-src="{% if item.top_image_item_hd %}{{ item.top_image_item_hd }}{% elif item.top_image_hd %}{{ item.top_image_hd }}{% endif %}"> removed to see if we get better traffic costs -->
    </a>
    {% else %}
      {% if item.display_name_item %}
      {{ item.display_name_item }}
      {% elif item.display_name %}
      {{ item.display_name }}
      {% else %}
      {{ item }}
      {% endif %}
    {% endif %}
  </div>
  <br>
  {% include 'include/fields_table.html' with fields=item_fields bottom=True %}
</div>
