<div class="text-center top-item" style="padding: {{ item_padding }}px;">
  {% if item_view_enabled %}
  <a href="{{ item.item_url }}"{% if ajax_item_view_enabled %} data-ajax-url="{{ item.ajax_item_url }}" data-ajax-title="{{ item }}"{% endif %}{% if ajax_item_popover %} data-ajax-popover="{{ item.ajax_item_url }}" title="{{ item }}"{% endif %}>
    {% endif %}
    {% if item.top_image_list or item.top_image or item.image %}
    <img src="{% if item.top_image_list %}{{ item.top_image_list }}{% elif item.top_image %}{{ item.top_image }}{% else %}{{ item.image_url }}{% endif %}" alt="{{ item }}" class="{{ item.collection_name }}-image img-responsive">
    {% else %}
    {{ item }}
    {% endif %}
    {% if item_view_enabled %}
  </a>
  {% endif %}
</div>
