<div class="{{ item.collection_name }}-info">
  <div class="text-center top-item" style="padding: {{ item_padding }}px;">
    {% if top_illustration %}
    {% include top_illustration|add:'.html' %}
    {% elif item.to_top_image_item %}
    <img src="{{ item.to_top_image }}" alt="{{ item }}" class="{{ item.collection_name }}-image">
    {% elif item.image %}
    <img src="{{ item.image_url }}" alt="{{ item }}" class="{{ item.collection_name }}-image">
    {% else %}
    {{ item }}
    {% endif %}
  </div>
  <br>
  {% include 'include/fields_table.html' with fields=item_fields bottom=True %}
</div>
