<div class="item-info {{ item.collection_name }}-info"{% for key, value in item.html_attributes.items %} {{ key }}="{{ value }}"{% endfor %}{% for key, value in item.html_attributes_item.items %} {{ key }}="{{ value }}"{% endfor %}>
  <div class="text-center top-item" style="padding: {% if item_padding.0 %}{{ item_padding.0 }}px {{ item_padding.1 }}px{% if item_padding.2 %} {{ item_padding.2 }}px {{ item_padding.3 }}px{% endif %}{% else %}{{ item_padding }}px{% endif %};">
    {% if top_illustration %}
    {% include top_illustration|add:'.html' %}
    {% elif item.top_html_item %}
    {{ item.top_html_item }}
    {% elif item.top_html %}
    {{ item.top_html }}
    {% elif item.display_image_item %}
    {% if item.display_image_link_item %}<a href="{{ item.display_image_link_item }}" target="_blank">{% endif %}
      <img src="{{ item.display_image_item }}" alt="{{ item }}" class="{{ item.collection_name }}-image" style="{% if item_max_height %} max-height: {{ item_max_height }}px;{% endif %}">
    {% if item.display_image_link_item %}</a>{% endif %}
    {% else %}
    {{ item.display_unicode_item }}
    {% if item.display_unicode_other_languages %}
    {% for display_other_language, display_other_details in item.display_unicode_other_languages.items %}
    <br><small class="text-muted" lang="{{ display_other_language }}">
      {% if 'en' not in item.display_unicode_other_languages %}<img src="{{ display_other_details.image }}"
          alt="{{ display_other_details.verbose_language }}" height="20" />{% endif %}
      {{ display_other_details.translation }}</small>
    {% endfor %}{% endif %}
    {% endif %}
  </div>
  <br>
  {% include 'include/fields_table.html' with fields=item_fields bottom=True %}
</div>
