{% load i18n %}
{% load l10n %}
{% load tools %}
{% with profile_user=item %}
<div>
  <br><br>
  <div class="jumbotron jumbotron-{{ profile_user.preferences.css_color }}{% if profile_user.preferences.background_image_url %} with-background{% endif %}"{% if profile_user.preferences.background_image_url %} style="background-image: url('{{ profile_user.preferences.background_image_url }}');"{% endif %} id="profile" data-color="{{ profile_user.preferences.css_color }}">
    <div class="topprofile">
      <div class="row">
        <div class="col-sm-2">
          {% include 'include/avatar.html' with av_user=profile_user av_size=40 av_image_size=200 %}
          {% if profile_user.is_staff %}
          <span class="staff-status">
            <i class="flaticon-staff"></i>
            {% trans 'Staff' %}
          </span>
          {% endif %}
          {% if profile_user.preferences.groups %}
          {% for group_name, group in profile_user.preferences.groups_and_details.items %}
          <a href="/help/Roles/" data-ajax-url="/ajax/help/Roles/" data-ajax-title="{% trans 'Roles' %}">
            <img src="{{ static_url }}img/groups/{{ group_name }}.png?{{ static_files_version }}"
                 alt="{{ group.translation }}" width="20" data-toggle="tooltip"
                 title="{{ group.translation }}" data-trigger="hover"
                 data-placement="top" data-container="body" />
          </a>
          {% endfor %}
          {% endif %}
        </div>
        <div class="col-sm-10">
          <div class="info">
            <div class="pull-right text-right">
              {% if collection.item_view.follow_enabled and user.is_authenticated and not is_me %}
              <form method="POST" class="noform" id="follow" action="/ajax/follow/{{ profile_user.username }}/">
                {% csrf_token %}
                <input type="hidden" name="{% if profile_user.followed %}unfollow{% else %}follow{% endif %}">
                <div class="btn btn-lg btn-{{ profile_user.preferences.css_color }}" id="follow-hidden-loader" style="display: none;"><i class="flaticon-loading"></i></div>
                <input type="submit" class="btn btn-lg btn-{{ profile_user.preferences.css_color }}" value="{% if profile_user.followed %}{% trans 'Unfollow' %}{% else %}{% trans 'Follow' %}{% endif %}" data-reverse="{% if profile_user.followed %}{% trans 'Follow' %}{% else %}{% trans 'Unfollow' %}{% endif %}">
                {% if profile_user.is_followed_by %}<br><span class="follows-you">{% trans 'follows you' %}</span>{% endif %}
              </form>
              {% elif not user.is_authenticated %}
              <a href="/signup/?next={{ current_url }}&next_title={% trans 'Profile' %}: {{ profile_user }}" class="btn btn-lg btn-{{ profile_user.preferences.css_color }}">{% trans 'Follow' %}</a><br>
              {% elif is_me %}
              <a href="/settings/" class="btn btn-lg btn-{{ profile_user.preferences.css_color }}"><i class="flaticon-settings"></i> {% trans 'Settings' %}</a><br>
              {% endif %}
              <div class="follow-buttons">
                <br>
                <a href="/users/?followers_of={{ profile_user.id }}"
                   data-ajax-url="/ajax/users/?ajax_modal_only&followers_of={{ profile_user.id }}"
                   data-ajax-title="{% trans 'Followers' %}"
                   {% if not profile_user.total_followers %} style="display: none"{% endif %}>
                  <strong>{{ profile_user.total_followers }}</strong> {% trans 'Followers' %}
                </a>
                <br>
                <a href="/users/?followed_by={{ profile_user.id }}"
                   data-ajax-url="/ajax/users/?ajax_modal_only&followed_by={{ profile_user.id }}"
                   data-ajax-title="{% trans 'Following' %}"
                   {% if not profile_user.total_following %} style="display: none"{% endif %}>
                  <strong>{{ profile_user.total_following }}</strong> {% trans 'Following' %}
                </a>
              </div>
            </div>
            <h1 class="text-secondary" id="username" data-user-id="{{ profile_user.id }}">{{ profile_user.username }}</h1>
            {% if profile_user.preferences.i_status and profile_user.preferences.i_status != 'THANKS' %}
            <a href="/donate/" class="a-nodifference status-title">
              <h2 style="color: {{ profile_user.preferences.status_color }}">
                {{ profile_user.preferences.t_status }}
              </h2>
            </a>
            {% endif %}
            <br>
            <div class="description{% if profile_user.preferences.description.0 %} was-markdown{% endif %}">
              {% if profile_user.preferences.m_description %}
              {% if profile_user.preferences.description.0 %}
              {{ profile_user.preferences.description.1|safe }}
              {% else %}
              <div class="to-markdown with-github">{{ profile_user.preferences.description.1 }}</div>
              {% endif %}
              {% endif %}
            </div>
            {% include 'include/below_item.html' with buttons_only=True show_item_buttons=True %}
            <div class="text-right badges">
              {% for badge in profile_user.latest_badges %}<a href="{{ badge.item_url }}" data-ajax-url="{{ badge.ajax_item_url }}" data-ajax-title="{{ badge }}" class="mini-badge badge-color{{ badge.rank|default_if_none:"" }}" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="<span class='text-badge-color{{ badge.rank|default_if_none:"" }}'>{% if badge.rank %}<img src='{{ static_url }}img/badges/medal{{ badge.rank }}.png?{{ static_files_version }}'> {% endif %}{{ badge }}</span>" data-html="true" style="background-image: url('{{ badge.image_url }}');">
                <i class="flaticon-more placeholder"></i></a>{% endfor %}{% if more_badges %}<a href="#openBadges" class="mini-badge badge-color" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="{% trans 'Load more...' %}">
                <i class="flaticon-more"></i>
              </a>
              {% endif %}
              {% if collection.item_view.share_enabled %}
              <div class="btn-group">
                {% include 'include/share.html' with share_btn_class=profile_user.preferences.css_color %}
              </div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="profile-tabs{% if not profile_user.all_links %} empty{% endif %}">
    <table>
      <tr>
        {% for link in profile_user.all_links %}
        {% if forloop.counter0|mod:per_line %}
    </tr></table>
    <table class="white-table table-responsive text-center table-buttons">
      <tr>
        {% endif%}
        <td>
          {% include 'include/link.html' %}
        </td>
        {% endfor %}
      </tr>
    </table>
  </div>
  <div>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs nav-tabs-{{ profile_user.preferences.css_color }}" id="profiletabs">
      {% for tab_name, tab in profile_tabs.items %}
      <li{% if opened_tab == tab_name %} class="active"{% endif %} style="width: {% localize off %}{{ profile_tabs_size }}{% endlocalize %}%;"><a href="#profile{{ tab_name }}" data-toggle="tab">
          <span>{% if tab.icon %}<i class="flaticon-{{ tab.icon }}"></i><span class="hidden-xs hidden-sm">{% endif %}
            {{ tab.name }}{% if tab.icon %}</span>{% endif %}</span>
                                                                               </a></li>
      {% endfor %}
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      {% for tab_name, tab in profile_tabs.items %}
      <div role="tabpanel" class="tab-pane{% if opened_tab == tab_name %} active{% endif %}" id="profile{{ tab_name }}" data-tab-name="{{ tab_name }}">{% if tab_name == 'account' %}
        {% if profile_user.all_accounts|length > 0 %}
        <br>
        {% include accounts_template|add:'.html' %}
        {% endif %}
        {% if is_me and can_add_account %}
        <div class="top_buttons">
          <div class="row">
            <div class="col-md-12">
              <a href="/accounts/add/" data-top-btn-name="add" class="{{ add_account_buttons_classes }}" title="{{ add_account_sentence }}">
                <i class="flaticon-{{ add_account_icon }}"></i>
                {{ add_account_sentence }}
                {% if profile_user.all_accounts|length == 0 and add_account_subtitle %}
                <br><small>{{ add_account_subtitle }}</small>{% endif %}
              </a>
            </div>
          </div>
        </div>
        {% endif %}
        {% if profile_user.all_accounts|length == 0 %}
        <div class="padding50 no-result-wrapper">
          <h4 class="padding50 alert alert-info no-result-alert">
            {% trans 'No result.' %}
          </h4>
        </div>
        {% endif %}
        <br><br>
        {% include 'include/disqus.html' with disqus_identifier='user-'|addint:profile_user.id %}
        {% endif %}</div>
      {% endfor %}

    </div>

  </div>
</div>
{% endwith %}
