{% load i18n %}
{% load magi_tags %}
{% with report=item %}
<br>
<div class="well report report-{{ report.status }}" data-report-id="{{ report.id }}">
  <div class="row">
    <div class="col-md-8">
      <h4>{% if report.is_suggestededit %}{% trans 'Suggested edit' %}{% else %}{% trans 'Report' %}{% endif %}: {% trans report.reported_thing_title %}</h4>
    </div>
    <div class="col-md-4">
      <h1 class="text-right report_status">{{ report.status }}</h1>
    </div>
  </div>
  <div>
  </div>
  <ul class="list-group">
    <li class="list-group-item">
      {% if user.is_staff %}
      <strong>{% if report.is_suggestededit %}Suggested by:{% else %}Reported by:{% endif %}</strong>
      {% if report.owner %}
      <a href="{{ report.owner.item_url }}">
	{{ report.owner }}
      </a>{% else %}
      Anonymous
      {% endif %}
      <br>
      {% endif %}
      <small class="text-muted">{{ report.creation }}</small>
    </li>
    <li class="list-group-item">
      <strong>{% if report.is_suggestededit %}{% trans 'Field(s) to edit' %}{% else %}{% trans 'Reason' %}{% endif %}</strong><br>
      {% if report.reason %}{{ report.reason }}{% else %}Unknown{% endif %}
    </li>
    <li class="list-group-item">
      <strong>{% if report.is_suggestededit %}{% trans 'What should be edited?' %}{% else %}{% trans 'Message' %}{% endif %}</strong><br>
      {{ report.message }}
    </li>
    {% if report.all_images %}
    <li class="list-group-item">
      <strong>{% trans 'Images' %}</strong><br>
      <div class="container_form">
	{% for image in report.all_images %}
	<a href="{{ image.image_url }}" target="_blank" class="a-nodifferences">
	  <img src="{{ image.image_thumbnail_url }}" class="img-responsive inline-block" alt="{{ report.reported_thing_title }}" />
	</a>
	{% endfor %}
      </div>
    </li>
    {% endif %}
    {% if report.staff %}
    <li class="list-group-item">
      <strong>{% trans 'Staff' %}</strong>
      <a href="{{ report.staff.item_url }}">
	{{ report.staff }}
      </a>
    </li>
    {% endif %}
    {% if report.staff_message %}
    <li class="list-group-item">
      <strong>{% trans 'Staff' %} {% trans 'Message' %}</strong><br>
      {{ report.staff_message }}
    </li>
    {% endif %}
  </ul>
  {% if report.status == 'Pending' and user.is_authenticated and user.id == report.owner.id %}
  <a href="{{ report.edit_url }}" class="btn btn-main btn-xl btn-block">
    {{ report.edit_sentence }}
  </a><br>
  {% endif %}
  {% if report.item_view_enabled %}
  <a href="{{ report.reported_thing_item_url }}" class="open-thing btn btn-main btn-xl btn-block" {% if report.allow_ajax %}data-ajax-url="{{ report.reported_thing_ajax_item_url }}" data-ajax-show-button="true"{% else %}target="_blank"{% endif %}>
    {{ report.reported_thing_open_sentence }}
  </a>
  {% else %}
  <h3 class="text-center">{{ report }}</h3>
  {% endif %}
  {% if user.is_staff %}
  <br><br>
  {% if user.id != report.owner.id or user.is_superuser %}
  {% if report.status == 'Pending' %}
  <div class="panel-group staff-buttons" id="staff-buttons-{{ report.id }}">
    <div class="panel panel-info inline-block" style="width: {% if report.is_suggestededit %}49{% else %}33{% endif %}%; vertical-align: top; margin-top: 0;">
      <div class="panel-heading">
	<h3 class="panel-title fontx1-5 text-center">
	  <a href="#collapseIgnore{{ report.id }}" data-toggle="collapse" data-parent="#staff-buttons-{{ report.id }}" class="a-nodifference">{% if report.is_suggestededit %}It shouldn't be edited{% else %}I see nothing wrong{% endif %}</a>
	</h3>
      </div>
      <div class="panel-collapse collapse" id="collapseIgnore{{ report.id }}">
	<form class="panel-body" method="POST" action="/ajax/moderatereport/{{ report.id }}/Ignored/">
	  {% csrf_token %}
	  <input type="submit" class="btn btn-info btn-block btn-lines" value="Ignore this {% if report.is_suggestededit %}suggestion{% else %}report{% endif %}">
	  <br>
	  <ul>
	    <li>Will not notify anyone.</li>
	    <li>Will mark the {% if report.is_suggestededit %}suggestion{% else %}report{% endif %} as done.</li>
	  </ul>
	</form>
      </div>
    </div>
    <div class="panel panel-warning inline-block" style="width: {% if report.is_suggestededit %}49{% else %}33{% endif %}%; vertical-align: top; margin-top: 0;">
      <div class="panel-heading">
	<h3 class="panel-title fontx1-5 text-center">
	  <a href="#collapseEdited{{ report.id }}" data-toggle="collapse" data-parent="#staff-buttons-{{ report.id }}" class="a-nodifference">It should be edited</a>
	</h3>
      </div>
      <div class="panel-collapse collapse" id="collapseEdited{{ report.id }}">
	{% if user.is_superuser or report.allow_edit %}
	<form class="panel-body" method="POST" action="/ajax/moderatereport/{{ report.id }}/Edited/">
	  {% csrf_token %}
          {% if report.is_suggestededit %}
          1. Explain what was changed and why:
          <textarea name="staff_message" class="form-control" placeholder="Explain what has been edited and why (in English).">{{ report.reason }} {% if ', ' in report.reason %}have{% else %}has{% endif %} been edited.</textarea><br>
          {% else %}
	  1. Select a reason:
	  <select name="reason" class="form-control" required>
	    <option value="">------</option>
	    {% for template_name, template_message in report.edit_templates.items %}
	    <option value="{{ template_message }}">{{ template_name }}</option>
	    {% endfor %}
	    <option value="_other">Other...</option>
	  </select>
	  <textarea name="staff_message" class="form-control" placeholder="Explain what has been edited and why (in English)." style="display: none;" required></textarea><br>
          {% endif %}
	  2. Edit the {{ report.reported_thing }} accordingly:
	  <a href="/{{ report.reported_thing_plural_name }}/edit/{{ report.reported_thing_id }}/" target="_blank" class="btn btn-success btn-block btn-lines" {% if report.reported_thing_collection.edit_view.ajax %}data-ajax-url="/ajax/{{ report.reported_thing_plural_name }}/edit/{{ report.reported_thing_id }}/?disable_delete&{% if report.is_suggestededit %}is_suggestededit{% else %}is_reported{% endif %}" data-ajax-handle-form="true"{% else %}target="_blank"{% endif %}>Edit {{ report.reported_thing }}</a><br>
	  2. Confirm the {% if report.is_suggestededit %}suggestion was taken into account{% else %}report{% endif %}:
	  <input type="submit" class="btn btn-warning btn-block btn-lines" value="Confirm">
	  <br>
	  <ul>
	    <li>Will notify the person who {% if report.is_suggestededit %}suggested{% else %}reported{% endif %} this {{ report.reported_thing }}.</li>
	    <li>Will notify the owner of this {{ report.reported_thing }}.</li>
	    {% if not report.is_suggestededit %}
            <li>Will notify all the people who reported this {{ report.reported_thing }}.</li>
	    <li>Will mark all the reports for that {{ report.reported_thing }} as done.</li>
            {% endif %}
	  </ul>
	</form>
	{% else %}
	<div class="padding20 text-center">Ask an administrator</div>
	{% endif %}
      </div>
    </div>
    {% if not report.is_suggestededit %}
    <div class="panel panel-danger inline-block" style="width: 33%; vertical-align: top; margin-top: 0;">
      <div class="panel-heading">
	<h3 class="panel-title fontx1-5 text-center">
	  <a href="#collapseDeleted{{ report.id }}" data-toggle="collapse" data-parent="#staff-buttons-{{ report.id }}" class="a-nodifference">It should be deleted</a>
	</h3>
      </div>
      <div class="panel-collapse collapse" id="collapseDeleted{{ report.id }}">
	{% if user.is_superuser or report.allow_delete %}
	<form class="panel-body" method="POST" action="/ajax/moderatereport/{{ report.id }}/Deleted/">
	  {% csrf_token %}
	  1. Select a reason:
	  <select name="reason" class="form-control" required>
	    <option value="">------</option>
	    {% for template_name, template_message in report.delete_templates.items %}
	    <option value="{{ template_message }}">{{ template_name }}</option>
	    {% endfor %}
	    <option value="_other">Other...</option>
	  </select>
	  <textarea name="staff_message" class="form-control" placeholder="Explain what has been deleted and why (in English)." style="display: none;" required></textarea><br>
	  2. Delete {{ report.reported_thing }} + Confirm:
	  <input type="submit" class="btn btn-danger btn-block btn-lines" value="Delete {{ report.reported_thing }}">
	  <br>
	  <ul>
	    <li>Will delete the {{ report.reported_thing }} forever. </li>
	    <li>Will notify the owner of this {{ report.reported_thing }}.</li>
	    <li>Will notify all the people who reported this {{ report.reported_thing }}.</li>
	    <li>Will mark all the reports for that {{ report.reported_thing }} as done.</li>
	  </ul>
	</form>
	{% else %}
	<div class="padding20 text-center">Ask an administrator</div>
	{% endif %}
      </div>
    </div>
    {% endif %}
  </div>
  {% endif %}
  {% else %}
  <div class="alert alert-warning">
    You can't moderate your own reports. Ask another member of the staff.
  </div>
  {% endif %}
  {% endif %}
</div>
{% endwith %}
