{% with user=item %}
<div class="user-item">
  <a href="/privatemessages/?to_user={{ item.id }}"
     {% if ajax %}
     data-ajax-url="/ajax/privatemessages/?to_user={{ item.id }}&ajax_modal_only&ajax_show_top_buttons"
     data-ajax-handle-form="true"
     {% endif %}
     class="a-nodifference">
    <div class="avatar-section">
      {% include 'include/avatar.html' with av_user=user av_size=18 av_image_size=42 av_fixed=True %}
    </div>
    <div class="details-section">
      {{ user.username }}
    </div>
  </a>
  <a href="/privatemessages/?to_user={{ item.id }}"
     {% if ajax %}
     data-ajax-url="/ajax/privatemessages/?to_user={{ item.id }}&ajax_modal_only&ajax_show_top_buttons"
     data-ajax-handle-form="true"
     {% endif %}
     class="a-nodifference">
    <div class="buttons-section fontx3 padding20 padding-novertical">
      <i class="flaticon-contact"></i><i class="flaticon-toggler"></i>
    </div>
  </a>
</div>
{% endwith %}
