{% load tools %}
{% load magi_tags %}

{% block page_title %}
<div class="head-for-modal hidden">
  <span class="head-for-modal-title">{% block title %}{% if page_title %}{{ page_title }}{% else %}{{ game_name }}{% endif %}{% endblock %} | {{ t_site_name }}{% if page_title %} - {{ game_name }}{% endif %}</span>
  <span class="head-for-modal-description">{% if page_description %}{{ page_description }} -- {% endif %}{{ site_description }}</span>
</div>
{% if ajax_include_title %}
<div class="hidden page-title-wrapper">{% if not show_homepage %}{% include 'include/page_title.html' %}{% endif %}</div>
{% endif %}
{% endblock %}

{% block content %}

{% include include_template|add:'.html' %}

{% if include_below_item %}{% include 'include/below_item.html' %}{% endif %}

{% endblock %}

{% block js %}{% endblock %}
{% block js2 %}{% endblock %}
{% for js_file in js_files %}
<script src="{% if js_file|startswith:'http' %}{{ js_file }}{% else %}{{ static_url }}{% if not js_file|startswith:'bower' %}js/{% endif %}{{ js_file }}.js?{{ static_files_version }}{% endif %}"></script>
{% endfor %}
{% if js_variables %}
<script>
  {% for key, variable in js_variables.items %}
  var {{ key }} = {{ variable|jsv }};
  {% endfor %}
</script>
{% endif %}
<script>
  {% if cuteform_fields %}{% for selector, json in cuteform_fields_json.items %}
  cuteform($('{{ selector|safe }}'), {{ json|safe }});
  {% endfor %}{% endif %}
</script>
{% block afterjs %}
<script>
  {% if ajax_callback %}
  {{ ajax_callback }}();
  {% endif %}
  {% if ajax_callbacks %}
  $(document).ready(function() {
  {% for m_callback in ajax_callbacks %}
  {{ m_callback }}();
  {% endfor %}
  });
  {% endif %}
      {% if modal_cuteform_separators %}
      {% for form_selector, modal_cuteform_separators_per_form in modal_cuteform_separators.items %}
      {% if form_selector %}if (!$({{ form_selector|jsv }}).data('loaded-modal-separators')) {{% endif %}
        {% for modal_cuteform_separators_settings in modal_cuteform_separators_per_form %}
        modalCuteFormSeparators({{ modal_cuteform_separators_settings|jsv }});
        {% endfor %}
        {% if form_selector %}$({{ form_selector|jsv }}).attr('data-loaded-modal-separators', true);
      }{% endif %}
      {% endfor %}{% endif %}
      {% if form_show_more %}
      {% for form_selector, form_show_more_list in form_show_more.items %}
      if (!$({{ form_selector|jsv }}).data('loaded-show-more')) {
      {% for s in form_show_more_list %}
        formShowMore($({{ form_selector|jsv }}), {{ s.cutoff|jsv }}, {{ s.including_cutoff|jsv }}, {{ s.until|default_if_none:'undefined'|jsv }}, {{ s.including_until|jsv }}, "{{ s.message_more }}", "{{ s.message_less }}", {{ s.check_values|jsv }});
      {% endfor %}
        $({{ form_selector|jsv }}).attr('data-loaded-show-more', true);
      }
      {% endfor %}{% endif %}
      {% if form_on_change_value_show %}
      {% for form_selector, form_on_change_value_show_fields in form_on_change_value_show.items %}
      if (!$({{ form_selector|jsv }}).data('loaded-on-change-value-show')) {
      {% for field_name, options in form_on_change_value_show_fields.items %}
      formOnChangeValueShow($({{ form_selector|jsv }}), {{ field_name|jsv }}, {{ options|jsv }});
      {% endfor %}
        $({{ form_selector|jsv }}).attr('data-loaded-on-change-value-show', true);
      }
      {% endfor %}{% endif %}
      {% if form_on_change_value_trigger %}
      {% for form_selector, form_on_change_value_trigger_fields in form_on_change_value_trigger.items %}
      if (!$({{ form_selector|jsv }}).data('loaded-on-change-value-trigger')) {
      {% for field_name, options in form_on_change_value_trigger_fields.items %}
      formOnChangeValueTrigger($({{ form_selector|jsv }}), {{ field_name|jsv }}, {{ options|jsv }});
      {% endfor %}
        $({{ form_selector|jsv }}).attr('data-loaded-on-change-value-trigger', true);
      }
      {% endfor %}{% endif %}
</script>
{% endblock %}
