{% load i18n %}
{% load magi_tags %}
{% load tools %}
{% if not static_url %}{% forceLoadRawContext %}{% endif %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}" class="html-current-{% if current %}{{ current }}{% else %}error{% endif %}{% if shortcut_url != None %} html-shortcut-{{ shortcut_url }}{% endif %}{% for page_definer in page_definers %} {{ page_definer }}{% endfor %}">
  <head>
    <meta charset="UTF-8">
    <title>{% block title %}{% if page_title %}{{ page_title }}{% else %}{{ game_name }}{% endif %}{% endblock %} | {{ t_site_name }}{% if page_title %} - {{ game_name }}{% endif %}</title>

    <link rel="shortcut icon" type="image/x-icon" href="{{ static_url }}favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="{{ static_url }}apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ static_url }}favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ static_url }}favicon-16x16.png">
    <link rel="mask-icon" href="{{ static_url }}safari-pinned-tab.svg" color="{{ site_color }}">
    <meta name="msapplication-TileColor" content="{{ site_color }}">
    <meta name="theme-color" content="{{ site_color }}">

    <link rel="stylesheet" href="{{ static_url }}bower/bootstrap/dist/css/bootstrap.min.css">
    {% if debug %}
    <link rel="stylesheet/less" type="text/css" href="{{ static_url }}less/{% if stylesheet %}{{ stylesheet }}_theme{% else %}local{% endif %}.less?{{ static_files_version }}" />
    <script src="{{ static_url }}bower/less/dist/less.min.js"></script>
    {% else %}
    <link rel="stylesheet" href="{{ static_url }}css/{% if stylesheet %}{{ stylesheet }}{% else %}style{% endif %}.css?{{ static_files_version }}">
    {% endif %}
    {% block extracss %}{% endblock %}{% if extracss %}<style>{{ extracss|safe }}</style>{% endif %}{% if extracss_template %}<style>{% include extracss_template %}</style>{% endif %}

    <meta property="og:image" content="{% block shareimage %}{% if share_image %}{{ share_image }}{% else %}{{ t_full_site_image }}{% endif %}{% endblock %}"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="description" content="{% if page_description %}{{ page_description }} -- {% endif %}{{ site_description }}">
    <meta name="keywords" content="{{ game_name }}, {{ t_site_name }}, Android game, iPhone game, rhythm game, cards, card, tracker, share collection{% for hashtag in hashtags %},{{ hashtag }}{% endfor %}">
    <meta name="twitter:card" content="{{ t_site_name }} - {% if page_description %}{{ page_description }} -- {% endif %}{{ site_description }}">
    <meta name="twitter:image" content="{% block shareimagetwitter %}{% if share_image %}{{ share_image }}{% else %}{{ t_full_site_image }}{% endif %}{% endblock %}">
    <meta name="twitter:creator" content="@db0company">
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js">
        </script>
        <![endif]-->
    {% if not disable_recaptcha %}
    {% load recaptcha3 %}
    {% recaptcha_init %}
    {% recaptcha_ready action_name=current %}
    {% endif %}
  </head>
  <body class="current-{% if current %}{{ current }}{% else %}error{% endif %}{% if shortcut_url != None %} shortcut-{{ shortcut_url }}{% endif %}{% for page_definer in page_definers %} {{ page_definer }}{% endfor %}">
    {% if not hidenavbar %}
    <nav class="navbar navbar-main navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          {% if current %}
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          {% else %}{# html .navbar-main .navbar-nav > li > a #}
          <a href="/" class="navbar-toggle collapsed">
            <i class="flaticon-home"></i></a>
          {% endif %}
          <a class="navbar-brand" href="/">
            {% if site_nav_logo %}<img src="{{ static_url }}img/{{ site_nav_logo }}?{{ static_files_version }}" class="logo hidden-xs hidden-sm"><span class="visible-xs visible-sm site-name">{% if t_site_name %}{{ t_site_name }}{% else %}{{ site_name }}{% endif %}</span>{% elif t_site_name %}{{ t_site_name }}{% else %}{{ site_name }}{% endif %}
          </a>
        </div>
        {% if current %}
        <div class="collapse navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            {% for link_name, link in navbar_links.items %}
            {% if link_name == 'more' and user.is_authenticated and 'notification' in all_enabled and not launch_date %}
            <li data-link-name="notifications">
              <a href="/notifications/">
                <i class="flaticon-notification"></i>
                <i class="flaticon-loading" style="display: none;"></i>
                {% if user.preferences.cached_unread_notifications and current != 'notification_list' %}
                <span class="badge progress-bar-info">{{ user.preferences.cached_unread_notifications }}</span>
                {% endif %}
              </a>
            </li>
            {% endif %}
            {% callWithContext dict=link function='show_link_callback' %}
            {% if result_of_callwithcontext %}
            <li class="{% if current == link_name %}active{% endif %}{% if link.is_list %} dropdown{% endif %}" data-link-name="{{ link_name }}">
              <a href="{% navbarGetURL link=link %}"{% if link.is_list %} class="dropdown-toggle" data-toggle="dropdown" id="navBarIDDropDown{{ link_name }}"{% elif link.external_link %} class="external-link"{% endif %}{% if link.new_tab %} target="_blank"{% endif %}>
                {% if link.icon %}
                <i class="flaticon-{{ link.icon }}"></i>
                {% elif link.image %}
                <img src="{{ static_url }}img/{{ link.image }}.png?{{ static_files_version }}" {% if link.larger_image %}class="link_larger_image"{% else %}height="16"{% endif %} />
                {% endif %}
                {% if link.image or link.icon %}<span class="hidden-sm"> &nbsp; {% else %}<span>{% endif %}
                    {% navbarTitle link=link %}
                    {% if link.is_list %}<small class="hidden-md hidden-lg hidden-xl">&nbsp; <span class="glyphicon glyphicon-chevron-down"></span></small>{% endif %}
                  </span>
              </a>
              {% if link.is_list %}
              <ul class="dropdown-menu" role="menu">
                {% for sub_link_name, sub_link in result_of_callwithcontext.items %}
                {% if sub_link.is_header %}
                <li class="dropdown-header{% if not sub_link.small %} large{% endif %}" data-link-name="{{ sub_link_name }}">
                  {% if sub_link.icon %}
                  <i class="flaticon-{{ sub_link.icon }}"></i>
                  {% elif sub_link.image %}
                  <img src="{{ static_url }}img/{{ sub_link.image }}.png?{{ static_files_version }}" {% if link.larger_image %}class="link_larger_image"{% else %}height="16"{% endif %} />
                  {% endif %}
                  {% navbarTitle link=sub_link %}
                </li>
                {% else %}
                {% if sub_link.divider_before %}
                <li class="divider"></li>
                {% endif %}
                <li class="{% if current == sub_link_name %}active{% endif %}" data-link-name="{{ sub_link_name }}">
                  <a href="{% navbarGetURL link=sub_link %}"{% if sub_link.external_link %} class="external-link"{% endif %}{% if sub_link.new_tab %} target="_blank"{% endif %}>
                    {% if sub_link.icon %}
                    <i class="flaticon-{{ sub_link.icon }}"></i>
                    {% elif sub_link.image %}
                    <img src="{{ static_url }}img/{{ sub_link.image }}.png?{{ static_files_version }}" {% if link.larger_image %}class="link_larger_image"{% else %}height="16"{% endif %} />
                    {% endif %}
                    {% navbarTitle link=sub_link %}
                  </a>
                </li>
                {% if sub_link.divider_after %}
                <li class="divider"></li>
                {% endif %}
                {% endif %}
                {% endfor %}
                {% if link.is_list and link_name == 'more' %}
                {% if other_sites %}
                <li class="divider"></li>
                <li class="dropdown-header">{% trans 'Check out our other websites' %}</li>
                <li class="dropdown-header">
                  {% for site in other_sites %}
                  <a href="{{ site.url }}" target="_blank" class="other-site">
	                <img src="{{ static_url }}img/other_sites/{{ site.image }}.png?{{ static_files_version }}"
                         alt="{{ site.name }}" title="<strong>{{ site.name }}</strong><br>{{ site.game_name }}"
                         data-toggle="tooltip" data-trigger="hover" data-html="true" />
                  </a>
                  {% endfor %}
                </li>
                {% endif %}
                <li class="divider"></li>
                <li class="dropdown-header">{% trans 'Language' %}</li>
                <li>
                  <form action="{% if user.is_authenticated %}/ajax/changelanguage/{% else %}/i18n/setlang/{% endif %}" method="post" style="padding: 3px 20px;">
                    {% csrf_token %}
                    <input name="next" type="hidden" value="{{ current_url }}" />
                    <select name="{% if user.is_authenticated %}i_{% endif %}language" id="switchLanguage">
                      {% for lang in LANGUAGES %}
                      <option value="{{ lang.0 }}"{% if lang.0 == LANGUAGE_CODE %} selected{% endif %}>{{ lang.1 }}</option>
                      {% endfor %}
                    </select>
                  </form>
                  <a href="{{ translation_help_url }}" class="fontx0-8 text-muted" target="_blank">{% trans 'Help us translate the site' %}</a>
                </li>
                {% endif %}
              </ul>
              {% endif %}
            </li>
            {% endif %}
            {% endfor %}
          </ul>
        </div>
        {% endif %}
      </div>
    </nav>
    {% endif %}

    <main>
      {% block content %}{% endblock %}
    </main>

    {% if current %}
    <!-- Modal -->
    <div class="modal fade" id="modal">
      <div class="modal-dialog">
        <div class="modal-content">
        </div>
      </div>
    </div>

    <!-- CuteForm Modal -->
    <div class="modal fade" id="cuteform-modal">
      <div class="modal-dialog modal-lg text-center">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title text-left"></h4>
          </div>
          <div class="modal-body"></div>
        </div>
      </div>
    </div>

    <!-- Ajax Modal -->
    <div class="modal fade" id="ajaxModal">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h1 class="modal-title"></h1>
          </div>
          <div class="modal-body"></div>
          <div class="modal-footer">
            <button type="button" class="btn" data-dismiss="modal">{% t 'Go' %}</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Free Modal -->
    <div class="modal fade" id="freeModal">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title"></h4>
          </div>
          <div class="modal-body"></div>
          <div class="modal-footer">
            <button type="button" class="btn" data-dismiss="modal">{% t 'Go' %}</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Confirm Modal -->
    <div class="modal fade" id="confirmModal">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title"></h4>
          </div>
          <div class="modal-body"></div>
          <div class="modal-footer">
            <button type="button" class="btn" data-dismiss="modal">{% t 'Go' %}</button>
          </div>
        </div>
      </div>
    </div>

    {% if user.is_staff %}
    <a href="#hideStaffButtons" style="display: none;" data-toggle="tooltip" data-placement="top" data-trigger="hover" data-html="true"  title="Hide/Show<br>Staff Only Buttons"><i class="flaticon-staff"></i></a>
    {% endif %}
    {% if corner_popups %}
    {% for corner_popup_name, corner_popup in corner_popups.items %}
    <div class="corner-popup{% if corner_popup.image %} with-image {% endif%}" data-name="{{ corner_popup_name }}" style="display: none;">
      {% if corner_popup.image %}
      <img src="{% if '//' in corner_popup.image %}{{ corner_popup.image }}{% else %}{{ static_url }}img/{{ corner_popup.image }}?{{ static_files_version }}{% endif %}"{% if corner_popup.image_overflow %} class="overflow"{% endif %}>
      {% endif %}
      <h3>{{ corner_popup.title }}</h3>
      {% if corner_popup.content %}
      <p>{{ corner_popup.content }}</p>
      {% endif %}
      {% for button_name, button in corner_popup.buttons.items %}
      <a href="{{ button.url }}" target="_blank" data-btn-name="{{ button_name }}"
         class="{% if button.classes %}{% for class in button.classes %}{{ class }} {% endfor %}{% else %}btn btn-main btn-lg{% endif %}"
         {% if button.ajax_url %}
         data-ajax-url="{{ button.ajax_url }}"
         data-ajax-handle-form="true"
         {% if button.ajax_title %}
         data-ajax-title="{{ button.ajax_title }}"
         {% endif %}
         {% endif %}>
        {{ button.title }}
      </a>
      {% endfor %}
      <small>
        {% if corner_popup.allow_close_once %}
        <a href="#close">{% trans 'Close' %}</a>
        {% endif %}
        {% if corner_popup.allow_close_remind %}
        <a href="#close_remind" data-reminder-in-days="{{ corner_popup.allow_close_remind }}">
          {% trans 'Remind me later' %}
        </a>
        {% endif %}
        {% if corner_popup.allow_close_forever %}
        <a href="#close_forever">{% blocktrans %}Don't show this again{% endblocktrans %}</a>
        {% endif %}
      </small>
    </div>
    {% endfor %}
    {% endif %}

    {% if comments_engine == 'commento' %}
    <script src="https://cdn.commento.io/js/commento.js"></script>
    {% else %}
    <script>
      var disqus_config = function () {
      this.language = "{{ LANGUAGE_CODE }}";
      };
      var disqus_shortname = '{{ disqus_shortname }}';
    </script>
    {% endif %}
    <script>
      var static_url = '{{ static_url }}';
      var empty_image = '{{ static_url }}img/{{ empty_image }}';
      var max_activity_height = {{ max_activity_height }};
      var is_authenticated = {% if user.is_authenticated %}'{{ user.username }}'{% else %}false{% endif %};
      var translated_terms = {{ javascript_translated_terms_json|safe }};
      var staff_buttons_hidden = true;
      var debug = {% if debug %}true{% else %}false{% endif %};
      var site_name = '{{ t_site_name }}';
    </script>

    <script src="{{ static_url }}bower/jquery/jquery.min.js"></script>
    <script src="{{ static_url }}js/jquery.form.min.js"></script>
    <script src="{{ static_url }}bower/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="{{ static_url }}bower/jquery-easing/jquery.easing.min.js"></script>
    <script src="{{ static_url }}bower/Autolinker.js/dist/Autolinker.min.js"></script>
    <script src="{{ static_url }}bower/CuteForm/cuteform.js?3"></script>
    {% if js_variables %}
    <script>
      {% for key, variable in js_variables.items %}
      var {{ key }} = {{ variable|jsv }};
      {% endfor %}
    </script>
    {% endif %}
    <script>
      {% if cuteform_fields %}{% for selector, json in cuteform_fields_json.items %}
      cuteform($('{{ selector|safe }}'), {{ json|safe }});
      {% endfor %}{% endif %}
    </script>
    {% block js %}{% endblock %}{% if js %}{{ js }}{% endif %}
    {% block js2 %}{% endblock %}{% if js %}{{ js2 }}{% endif %}
    {% if javascript_commons %}
    <script src="{{ static_url }}js/commons.js?{{ static_files_version }}"></script>
    {% endif %}
    <script src="{{ static_url }}js/magi_main.js?{{ static_files_version }}"></script>
    <script src="{{ static_url }}js/main.js?{{ static_files_version }}"></script>
    {% for js_file in js_files %}
    <script src="{% if js_file|startswith:'http' %}{{ js_file }}{% else %}{{ static_url }}{% if not js_file|startswith:'bower' %}js/{% endif %}{{ js_file }}.js?{{ static_files_version }}{% endif %}"></script>
    {% endfor %}
    {% block extrajavascript %}{% endblock %}{% if extrajavascript %}<script>{{ extrajavascript|safe }}</script>{% endif %}{% if extrajavascript_template %}<script>{% include extrajavascript_template %}</script>{% endif %}
    <script>
      {% if ajax_callback %}
      $(document).ready(function() {
      {{ ajax_callback }}();
      });
      {% endif %}
      {% if ajax_callbacks %}
      $(document).ready(function() {
      {% for m_callback in ajax_callbacks %}
      {{ m_callback }}();
      {% endfor %}
      });
      {% endif %}
      {% if modal_cuteform_separators %}
      {% for form_selector, modal_cuteform_separators_per_form in modal_cuteform_separators.items %}
      {% if form_selector %}if (!$({{ form_selector|jsv }}).data('loaded-modal-separators')) {{% endif %}
        {% for modal_cuteform_separators_settings in modal_cuteform_separators_per_form %}
        modalCuteFormSeparators({{ modal_cuteform_separators_settings|jsv }});
        {% endfor %}
        {% if form_selector %}$({{ form_selector|jsv }}).attr('data-loaded-modal-separators', true);
      }{% endif %}
      {% endfor %}{% endif %}
      {% if form_show_more %}
      {% for form_selector, form_show_more_list in form_show_more.items %}
      if (!$({{ form_selector|jsv }}).data('loaded-show-more')) {
      {% for s in form_show_more_list %}
        formShowMore($({{ form_selector|jsv }}), {{ s.cutoff|jsv }}, {{ s.including_cutoff|jsv }}, {{ s.until|default_if_none:'undefined'|jsv }}, {{ s.including_until|jsv }}, "{{ s.message_more }}", "{{ s.message_less }}", {{ s.check_values|jsv }});
      {% endfor %}
        $({{ form_selector|jsv }}).attr('data-loaded-show-more', true);
      }
      {% endfor %}{% endif %}
      {% if form_on_change_value_show %}
      {% for form_selector, form_on_change_value_show_fields in form_on_change_value_show.items %}
      if (!$({{ form_selector|jsv }}).data('loaded-on-change-value-show')) {
      {% for field_name, options in form_on_change_value_show_fields.items %}
      formOnChangeValueShow($({{ form_selector|jsv }}), {{ field_name|jsv }}, {{ options|jsv }});
      {% endfor %}
        $({{ form_selector|jsv }}).attr('data-loaded-on-change-value-show', true);
      }
      {% endfor %}{% endif %}
      {% if form_on_change_value_trigger %}
      {% for form_selector, form_on_change_value_trigger_fields in form_on_change_value_trigger.items %}
      if (!$({{ form_selector|jsv }}).data('loaded-on-change-value-trigger')) {
      {% for field_name, options in form_on_change_value_trigger_fields.items %}
      formOnChangeValueTrigger($({{ form_selector|jsv }}), {{ field_name|jsv }}, {{ options|jsv }});
      {% endfor %}
        $({{ form_selector|jsv }}).attr('data-loaded-on-change-value-trigger', true);
      }
      {% endfor %}{% endif %}
    </script>
    {% block afterjs %}{% endblock %}{% if afterjs %}{{ afterjs|safe }}{% endif %}

    {% if google_analytics %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', '{{ google_analytics }}', 'auto');
      ga('send', 'pageview');
    </script>
    {% endif %}
    <!-- Temporarily disabled due to jQuery bug <script id="dsq-count-scr" src="//{{ disqus_shortname }}.disqus.com/count.js" async></script> -->
    {% else %}
    <script src="{{ static_url }}bower/jquery/jquery.min.js"></script>
    <script src="{{ static_url }}js/jquery.form.min.js"></script>
    <script src="{{ static_url }}bower/bootstrap/dist/js/bootstrap.min.js"></script>
    {% endif %}
  </body>
</html>
