{# blocks: beforeform, imagetitle, title, beforefields, form, afterfields, belowform #}
{# variables: forms (dict name: form) or form (single) #}
{% extends extends %}
{% load bootstrap %}
{% load i18n %}
{% load tools %}
{% load magi_tags %}

{% block content %}
{% with forms=forms|getFormAsList:form %}
<div class="{% if not ajax %}container{% endif %} container-for-generic-form">
  {% for form_name, form in forms.items %}
  {% block beforeform %}{% endblock %}{% if beforeform %}{{ beforeform|getattribute:form_name }}{% endif %}
  <h1 id="{{ form_name }}" class="text-center padding50 form-title">{% block imagetitle %}{% endblock %} {% block title %}{% if form.form_title %}{{ form.form_title }}{% else %}{{ page_title }}{% endif %}{% endblock %}</h1>
  <form method="POST" class="{% if not ajax %}container_form{% endif %} generic-form"{% if multipart %} enctype="multipart/form-data"{% endif %} action="{% if ajax %}{{ current_url }}{% else %}#{{ form_name }}{% endif %}" data-form-name="{{ form_name }}">
    {% block beforefields %}{% endblock %}{% if beforefields %}{{ beforefields|getattribute:form_name }}{% endif %}
    {% block form %}
    {% csrf_token %}
    {% include "bootstrap_form_horizontal.html" with form=form wrap=0 %}
    <input type="hidden" name="{{ form_name }}" value="true">
    {% endblock %}
    {% block afterfields %}{% endblock %}{% if afterfields %}{{ afterfields|getattribute:form_name }}{% endif %}
    <div class="pull-right">
      {% block otherbuttons %}
      {% endblock %}{% if otherbuttons %}{{ otherbuttons|getattribute:form_name }}{% endif %}
      <button type="submit" name="{{ form_name }}" class="btn btn-main btn-lg generic-form-submit-button" data-form-loader="true">{% block submit %}{% trans 'Apply Changes' %}{% endblock %}</button>
    </div>
  </form>
<br><br>
  {% block belowform %}{% endblock %}{% if belowform %}{{ belowform|getattribute:form_name }}{% endif %}
{% endfor %}
</div>
{% endwith %}
{% endblock %}
