{# blocks: beforeform, imagetitle, title, beforefields, form, afterfields, belowform #}
{# variables: forms (dict name: form) or form (single) #}
{% extends extends %}
{% load i18n %}
{% load tools %}
{% load magi_tags %}

{% block content %}
{% with forms=forms|getFormAsList:form %}
<div class="{% if not ajax %}container{% endif %} container-for-generic-form">
  {% block beforeforms %}{% endblock %}{% if beforeforms %}{{ beforeforms }}{% endif %}
  {% for form_name, form in forms.items %}
  {% block beforeform %}{% endblock %}{% if beforeform %}{{ beforeform|getattribute:form_name }}{% endif %}{% if form.beforeform %}{{ form.beforeform }}{% endif %}
  <h1 id="{{ form_name }}" class="text-center padding50 form-title">{% block imagetitle %}
    {% if form.icon %}
    <i class="flaticon-{{ form.icon }}"></i>
    {% elif form.image %}
    <img src="{% if '//' not in form.image %}{{ static_url }}img/{% endif %}{{ form.image }}{% if '//' not in form.image %}.png?{{ static_files_version }}{% endif %}" height="{% if form.image_size %}{{ form.image_size }}{% else %}39{% endif %}" class="form-imagetitle" />
    {% endif %}
    {% endblock %}
    {% block title %}{% if form.form_title %}{{ form.form_title }}{% else %}{{ page_title }}{% endif %}{% endblock %}</h1>
  <form method="POST" class="{% if not ajax %}container_form{% endif %} generic-form"{% if multipart %} enctype="multipart/form-data"{% endif %} action="{% if form.action %}{{ form.action }}{% else %}{% if ajax %}{{ current_url }}{% elif forms|length > 1 and forloop.counter != 1 %}#{{ form_name }}{% endif %}{% endif %}" data-form-name="{{ form_name }}">
    {% block beforefields %}{% endblock %}{% if beforefields %}{{ beforefields|getattribute:form_name }}{% endif %}{% if form.beforefields %}{{ form.beforefields }}{% endif %}
    {% block form %}
    {% csrf_token %}
    {% include "bootstrap_form_horizontal/bootstrap_form_horizontal.html" with form=form wrap=0 %}
    <input type="hidden" name="{{ form_name }}" value="true">
    {% endblock %}
    {% block afterfields %}{% endblock %}{% if afterfields %}{{ afterfields|getattribute:form_name }}{% endif %}{% if form.afterfields %}{{ form.afterfields }}{% endif %}
    <div class="pull-right">
      {% block otherbuttons %}
      {% endblock %}{% if otherbuttons %}{{ otherbuttons|getattribute:form_name }}{% endif %}{% if form.otherbuttons %}{{ form.otherbuttons }}{% endif %}
      <button type="submit" name="{{ form_name }}" class="btn btn-main btn-lg generic-form-submit-button" data-form-loader="true">{% block submit %}{% if form.submit_title %}{{ form.submit_title }}{% else %}{% trans 'Apply changes' %}{% endif %}{% endblock %}</button>
    </div>
  </form>
<br><br>
  {% block belowform %}{% endblock %}{% if belowform %}{{ belowform|getattribute:form_name }}{% endif %}{% if form.belowform %}{{ form.belowform }}{% endif %}
{% endfor %}
{% block belowforms %}{% endblock %}{% if belowforms %}{{ belowforms }}{% endif %}
</div>
{% endwith %}
{% endblock %}
