{# optional variables: hide_side_bar, side_bar_no_padding, small_container, no_container #}
{% extends "base.html" %}

{% block content %}

{% if not hide_side_bar %}
<div id="wrapper" class="active">
  <nav id="sidebar-wrapper">
    {% if not side_bar_no_padding %}<div class="padded-inner-sidebar">{% endif %}
      {% block sidebar %}{% endblock %}
    {% if not side_bar_no_padding %}</div>{% endif %}
  </nav>
  <div id="page-content-wrapper">
    <a href="#" id="togglebutton">
      <i class="flaticon-search"></i>
      <i class="flaticon-toggler hidder"></i>
    </a>
    {% endif %}
    <div class="page-content-inner{% if small_container %} as-small-container{% elif not no_container %} as-container{% endif %}">
      {% block sidebar_content %}{% endblock %}
    </div>
    {% if not hide_side_bar %}
  </div>
</div>
{% endif %}
{% endblock %}
