{# [list_page] required variables: items, per_line, col_size, title, total_results, page_size, page #}
{# [list_page] optional variables: show_no_result #}
{# required variables: plural_title, plural_name, show_search_results #}
{# optional variables: add_buttons, filter_form #}

{% extends "base.html" %}
{% load i18n %}
{% load tools %}
{% load bootstrap %}
{% get_current_language as LANGUAGE_CODE %}

{% block title %}{% if current == 'index' %}{% trans site_description %}{% else %}{% trans plural_title %}{% endif %}{% endblock %}
{% block js %}
{% if filter_form %}
<script>
  var form_choices = {
    'filter_form': {
    {% for name, field in filter_form.fields.items %}
    {% if field.choices %}
      '{{ name }}': {
        {% for key, value in field.choices %}
        '{{ key }}': '{{ value }}',
        {% endfor %}
      },
    {% endif %}
    {% endfor %}
    },
  };
</script>
{% endif %}
{% endblock %}
{% block afterjs %}
{% if ajax_pagination %}
<script>
  {% if ajax_pagination_callback %}
  {{ ajax_pagination_callback }}();
  {% endif %}
  pagination('/ajax/{{ plural_name }}/', ''{% if ajax_pagination_callback %}, {{ ajax_pagination_callback }}{% endif %});
</script>
{% endif %}
{% endblock %}

{% block content %}
{% if filter_form %}
<div id="wrapper" class="active">
  <nav id="sidebar-wrapper">
    <form class="form-horizontal" method="get" action="" role="form">
      {{ filter_form|bootstrap }}
      <br>
      <button type="submit" class="btn btn-lg btn-white btn-block"><i class="flaticon-search"></i> {% t 'Search' %}</button>
    </form>
  </nav>
  <div id="page-content-wrapper">
    <a href="#" id="togglebutton">
      <i class="flaticon-search"></i>
      <i class="flaticon-toggler hidder"></i>
    </a>
    {% else %}
    <div class="{% if not full_width %}container{% endif %}">
    {% endif %}{# filter_form #}
    <div class="collection-page-wrapper{% if not full_width %} as-container{% endif %}">
      <h1 class="padding50 text-center{% if not show_title %} hidden{% endif %}">{% trans plural_title %}</h1>
      {% if before_template %}
      {% include before_template|add:'.html' %}
      {% endif %}
      <div class="add_buttons">
	{% if add_buttons %}
	<div class="row hidden-lg">
	  {% for button in add_buttons %}
	  <div class="col-xs-{{ add_buttons_col_size }}">
	    <a href="{{ button.link }}" class="btn btn-main btn-sm btn-block">
	      {% if button.image %}
	      <img src="{{ static_url }}img/{{ button.image }}.png" alt="{{ button.title }}" height="20" width="20">
	      {% endif %}
	      {% trans 'Add' %} {% trans title %}:<br>{{ button.subtitle }}
	    </a>
	  </div>
	  {% endfor %}
	</div>
	<div class="row visible-lg">
	  {% for button in add_buttons %}
	  <div class="col-lg-{{ add_buttons_col_size }}">
	    <a class="btn btn-main btn-xl btn-lines btn-block btn-add-{{ name }}" href="{{ button.link }}">
	      {% if button.image %}
	      <img src="{{ static_url }}img/{{ button.image }}.png" alt="{{ button.title }}">
	      {% endif %}
	      <h3>{% trans 'Add' %} {% trans title %}</h3>
	      <small>{{ button.subtitle }}</small>
	    </a>
	  </div>
	  {% endfor %}
	</div>
	{% endif %}
      </div>
      {% if total_results and show_search_results %}
      <div class="padding20 total-search-results">
	{% trans total_results_sentence %}
      </div>
      {% endif %}
      {% include "collections/list_page.html" %}
    </div>
    {% if filter_form %}
  </div> <!-- page-content-wrapper -->
</div> <!-- wrapper -->
{% else %}
</div> <!-- container -->
{% endif %}
{% endblock %}
