{# variables: notification, user (= receiver), site_url, all_enabled + base variables #}
{% extends 'emails/base.html' %}
{% load i18n %}

{% block subject %}{% trans 'Notification' %}: {{ notification.localized_message }}{% endblock %}
{% block headersubject %}{% trans 'Notification' %}: {{ notification.localized_message }}{% endblock %}
{% block content %}
{% trans 'Hi' %} {{ user.username }},
<br><br>

<p>
  {{ notification.localized_message }}
</p>
{% endblock %}

{% block actionbuttontitle %}
{% trans 'Open' %}
{% endblock %}
{% block actionbuttonalt %}
{% trans 'Open' %}
{% endblock %}

{% block actionlink %}
{{ notification.full_website_url }}
{% endblock %}

{% block footersentence %}
<div style="text-align: right">
  {% include 'emails/donation_footer.html' %}
  <small style="color: #cccccc;"><a href="{{ site_url }}settings/#emails">{% trans 'Click here' %}</a> {% trans 'to turn off email notifications.' %}</small>
</div>
{% endblock %}
