{# variables: user, report, sentence, subject #}
{% extends 'emails/base.html' %}
{% load i18n %}
{% load wchoices %}

{% block subject %}{{ subject }}{% endblock %}
{% block headersubject %}{{ subject }}{% endblock %}

{% block content %}
{% trans 'Hi' %} {{ user.username }},
<br><br>

<p>
  {{ sentence }}
</p>
<p>
  <strong>{% trans 'Staff Message:' %}</strong><br>
  {{ report.staff_message }}
  {% if user.preferences.language and user.preferences.language != 'en' %}
  <br><small><a href="https://translate.google.com/#en/{{ user.preferences.language }}/{{ report.staff_message|urlencode }}">
      {% with language=user.preferences.language|languageToString %}
      {% blocktrans %}Translate from English to {{ language }}{% endblocktrans %}
      {% endwith %}
    </a>
  {% endif %}
</p>
{% endblock %}

{% block actionbuttontitle %}{% if item_url %}{% trans 'Open' %}{% else %}{{ site_name }}{% endif %}{% endblock %}
  {% block actionbuttonalt %}{% if item_url %}{% trans 'Open' %}{% else %}{{ site_name }}{% endif %}{% endblock %}

{% block actionlink %}{% if item_url %}{{ item_url }}{% endif %}{% endblock %}

{% block footersentence %}
<div style="text-align: right">
  {% if show_donation %}{% include 'emails/donation_footer.html' %}{% endif %}
  {% trans 'Moderated by:' %} <a href="{{ site_name }}user/{{ report.staff.id }}/{{ report.staff }}/">{{ report.staff }}</a>
</div>
{% endblock %}
