{% extends "base.html" %}
{% load i18n %}
{% load tools %}
{% load wchoices %}
{% get_current_language as LANGUAGE_CODE %}

{% block title %}{% trans 'Donate' %}{% endblock %}

{% block content %}
<div class="container">
  <div class="padding50">

    <h1 class="text-main">{% trans 'Donate' %}</h1>

    <div class="row">
      {% if donate_image %}
	<div class="col-md-8">
	  <img src="{{ static_url }}img/{{ donate_images_folder }}{{ donate_image }}" class="img-responsive">
	</div>
	{% endif %}
	<div class="col-md-{% if donate_image %}4{% else %}12{% endif %}">
	  <p class="text-main big-text"><br>{% trans 'If you like the website, please consider' %} {% trans 'donating' %}. {% trans 'This will help us cover the costs of the servers and allow us to keep it running for free and without ads.' %}</p>
	  <br><br><a href="#donate" class="btn btn-main btn-xl page-scroll">{% trans 'Donate' %}</a><br>
	  {% if total_donators %}<a href="#donators" class="btn btn-link btn-lg page-scroll">{% trans 'Donators' %}</a> - {% endif %}<a href="/about/" class="btn btn-link btn-lg">{% trans 'About' %}</a>
	</div>
      </div>
      <br><br><br><br>
      <div id="donate"></div>
      <br><br><br>
      {% for donation in donations %}
      {% if donation.price == 1 %}
      <div class="row">
	<div class="col-lg-5">
	  {% elif donation.price == 5 %}
	</div>
	<div class="col-lg-2">
	</div>
	<div class="col-lg-5">
	  {% elif donation.price == 10 %}
	</div>
      </div>
      {% endif %}
      <br><br>
  <div class="row">
    <div class="col-sm-8 text-left">
      <h3 class="text-{% if interfaceColor and interfaceColor != 'default' %}{{ interfaceColor }}{% else %}Smile{% endif %} fontx2" id="donation{{ donation.price }}"><strong>${{ donation.price }}</strong> {% trans 'Donation' %}</h3>
    </div>
    <div class="col-sm-4 text-right">
      <br>
      <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
	<input type="hidden" name="cmd" value="_s-xclick">
	<input type="hidden" name="hosted_button_id" value="VJPSFRC2ZQSKS">
	<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
	<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
      </form>
    </div>
  </div>
  <br><br>
  <div class="row donation">
    {% if donation.thanks %}
    <div class="col-md-{{ donation.col_size }}">
      {% if donation.homepage_link %}
      <img src="{{ static_url }}img/donations/hearthome.png" class="img-responsive">
      {% trans 'Your name, your profile picture, a link to your profile, and a link to whatever you would like to advertise (your Twitter, Tumblr, Twitch or any other website!) will be added to the HOMEPAGE!' %}
      {% elif donation.link %}
      <img src="{{ static_url }}img/donations/heartlink.png" class="img-responsive">
      {% trans 'Your name, your profile picture, a link to your profile, and a link to whatever you would like to advertise (your Twitter, Tumblr, Twitch or any other website!) will be added to this page.' %}
      {% else %}
      <img src="{{ static_url }}img/donations/heart.png" class="img-responsive">
      {% trans 'Your name and a link to your profile will be added to this page.' %}
      {% endif %}
    </div>
    {% endif %}
    {% if donation.postcard %}
    <div class="col-md-{{ donation.col_size }}">
      <img src="{{ static_url }}img/donations/postcard.png" class="img-responsive">
      {% trans 'We will send you a cool postcard signed by the 2 developers :)' %}
    </div>
    {% endif %}
    {% if donation.homepage_character %}
    <div class="col-md-{{ donation.col_size }}">
      <img src="{{ static_url }}img/donations/homepagecharacter.png" class="img-responsive">
      {% with donation.status|statusToString as status %}
      <p>{% blocktrans %}You're the {{ status }}.{% endblocktrans %}</p>
      {% endwith %}
      <p>{% blocktrans %}You decide who will be the character shown by default on top of the homepage.{% endblocktrans %}</p>
    </div>
    {% endif %}
    {% if donation.status %}
    <div class="col-md-{{ donation.col_size }}">
      <span class="status" style="color: {{ donation.status|statusToColor }}"><i class="flaticon-heart"></i></span>
      {% if not donation.homepage_character %}
      {% with donation.status|statusToString as status %}
      <p>{% blocktrans %}You're a {{ status }}.{% endblocktrans %}</p>
      {% endwith %}
      {% endif %}
      {% with donation.status|statusToColorString as color %}
      <p>{% blocktrans %}With this special status, a lovely {{ color }} heart will be displayed next to your profile picture on your profile and everywhere it appears on the website.{% endblocktrans %}</p>
      {% endwith %}
    </div>
    {% endif %}
    {% if donation.t_shirt %}
    <div class="col-md-{% if donation.price == 100 %}4{% else %}{{ donation.col_size }}{% endif %}">
      <img src="{{ static_url }}img/donations/tshirt.png" class="img-responsive">
      {% blocktrans %}We will send you a T-shirt!{% endblocktrans %}
    </div>
    {% endif %}
    {% if donation.keyrings %}
    <div class="col-md-{{ donation.col_size }}">
      <img src="{{ static_url }}img/donations/keychain.png" class="img-responsive">
      {% if donation.keyrings > 1 %}
      <span class="multiply">x{{ donation.keyrings }}</span>
      {% endif %}
      {% blocktrans count counter=donation.keyrings %}We will send you a personalized keyring!{% plural %}We will send you {{ counter }} personalized keyrings!{% endblocktrans %}
    </div>
    {% endif %}
    {% if donation.feature %}
    <div class="col-md-{{ donation.col_size }}">
      <img src="{{ static_url }}img/donations/feature.png" class="img-responsive">
      {% trans 'We will discuss then implement a feature you would like to see on the website. You decide what you want, and we will make it come true!' %}
      <small>{% trans 'Note that it has to be in the range of our abilities and in accordance with the spirit of the website ^_^' %}</small>
    </div>
    {% endif %}
  </div>
  {% endfor %}
  <br><br>
  <br><br>
  <br><br>

  {% if total_donators %}
  <h1 id="donators" class="text-{% if interfaceColor and interfaceColor != 'default' %}{{ interfaceColor }}{% else %}Smile{% endif %}">{% trans 'Donators' %} <small>{{ total_donators }}</small></h1>

  <br><br>
  <div class="row">
    {% for donator in donators_high %}
    {% if forloop.counter0|mod:3 %}
  </div><div class="row">
    {% endif%}
    {% if donators_high|length == 1 %}<div class="col-sm-4"></div>{% endif %}
    {% if donators_high|length == 2 %}<div class="col-sm-2"></div>{% endif %}
    <div class="col-sm-4">
      <div class="panel panel-{{ donator.preferences.css_color }} panel-donation">
	<div class="panel-heading">
	  <strong>{{ donator.username }}</strong> -
	  {{ donator.preferences.status|statusToString }}
	</div>
	<div class="panel-body">
	  <div class="row">
	    <div class="col-xs-7">
	      {% include 'include/avatar.html' with av_user=donator av_image_size=150 av_size=50 av_link=True av_external=True %}
	    </div>
	    <div class="col-xs-5">
	      <a href="/user/{{ donator.username}}/" target="_blank" class="btn btn-{{ donator.preferences.css_color }} btn-lg">
		{% trans 'Profile' %}
	      </a>
	      {% if donator.preferences.donation_link %}
	      <br><br>
	      <a href="{{ donator.preferences.donation_link }}" target="_blank" class="btn btn-{{ donator.preferences.css_color }} btn-lg">
		{{ donator.preferences.donation_link_title }}
	      </a>
	      {% endif %}
	    </div>
	  </div>
	</div>
      </div>
    </div>
    {% if donators_high|length == 1 %}<div class="col-sm-4"></div>{% endif %}
    {% if donators_high|length == 2 %}<div class="col-sm-2"></div>{% endif %}
    {% endfor %}
  </div>
  <br><br>
  <div class="row">
    {% for donator in donators_low %}
    {% if forloop.counter0|mod:4 and donator.preferences.status != 'THANKS' %}
  </div><div class="row">
    {% endif%}
    {% ifchanged donator.preferences.status %}
    {% if donator.preferences.status == 'THANKS' %}
  </div><br><br><div>
    {% endif %}
    {% endifchanged %}
    {% if donator.preferences.status != 'THANKS' %}
    <div class="col-sm-{% if donator.preferences.status == 'THANKS' %}2{% else %}3{% endif %}">
      <div class="panel panel-{{ donator.preferences.css_color }} panel-donation panel-donation-small">
	<div class="panel-footer">
	  <strong>{{ donator.username }}</strong> -
	  {{ donator.preferences.status|statusToString }}
	</div>
	<div class="panel-body">
	  <div class="row">
	    <div class="col-xs-6">
	      {% include 'include/avatar.html' with av_user=donator av_image_size=150 av_size=25 av_link=True av_external=True %}
	    </div>
	    <div class="col-xs-6">
	      <a href="/user/{{ donator.username}}/" target="_blank" class="btn btn-{{ donator.preferences.css_color }}">
		{% trans 'Profile' %}
	      </a>
	      {% if donator.preferences.donation_link %}
	      <br><br>
	      <a href="{{ donator.preferences.donation_link }}" target="_blank" class="btn btn-{{ donator.preferences.css_color }}">
		{{ donator.preferences.donation_link_title }}
	      </a>
	      {% endif %}
	    </div>
	  </div>
	</div>
      </div>
    </div>
    {% else %}
    {% if donator.preferences.donation_link_title %}
    <div class="btn-group">
      <a href="/user/{{ donator.username}}/" target="_blank" class="btn btn-{{ donator.preferences.css_color }}">
	{% include 'include/avatar.html' with av_user=donator av_image_size=30 av_size=10 av_fixed=True av_inline=True %}
	{{ donator.username }}
      </a>
      {% if donator.preferences.donation_link %}
      <a href="{{ donator.preferences.donation_link }}" target="_blank" class="btn btn-{{ donator.preferences.css_color }} btn-extrado">
	{{ donator.preferences.donation_link_title }}
      </a>
      {% endif %}
    </div>
    {% else %}
    <a href="/user/{{ donator.username}}/" target="_blank" class="btn btn-{{ donator.preferences.css_color }} ">
      {{ donator.username }}
    </a>
    {% endif %}
    {% endif %}
    {% endfor %}
  </div>
  <br><br>
  <br><br>
  {% endif %}
  <br><br>



  </div>
  {% include 'include/disqus.html' with disqus_identifier='contact' %}

</div>

{% endblock %}
