{% extends "base.html" %}
{% load i18n %}
{% load tools %}
{% load web_tags %}

{% block title %}{% trans 'Coming soon' %}{% endblock %}

{% block content %}
<div class="container">
  <div class="text-center padding50">
    <h1 class="home-site-logo"><img src="{{ site_logo }}" class="img-responsive" alt="{{ site_name }}"></h1>
    <h2 class="home-site-description">{{ site_description|orcallable }}</h2>
    <a href="/about_game/" data-ajax-url="/ajax/about_game/" class="btn btn-link btn-lg home-about-game-button">
      {% with site_name=game_name %}{% blocktrans %}About {{ site_name }}{% endblocktrans %}{% endwith %}
    </a>
    <a href="/about/" data-ajax-url="/ajax/about/" class="btn btn-link btn-lg home-about-site-button">
      {% blocktrans %}About {{ site_name }}{% endblocktrans %}
    </a>
    <h1><a href="http://twitter.com/{{ twitter }}" target="_blank" class="fontx2">{% trans 'Coming soon' %}</a></h1>
    <h2 class="countdown" data-date="{{ launch_date|torfc2822 }}" data-format="{time}"></h2>
    <p class="timezone">
      <span class="datetime">{{ launch_date|torfc2822 }}</span>
      (<span class="current_timezone">UTC</span>)
    </p>
  </div>
</div>
{% endblock %}
