{% extends "form.html" %}
{% load i18n %}
{% load tools %}
{% load web_tags %}

{% block title %}
{% if form_name == 'preferences' %}
{% trans 'Customize' %}
{% elif form_name == 'addLink' %}
{% trans 'Add' %} {% trans 'Link' %}
{% elif form_name == 'changePassword' %}
{% trans 'Change your password' %}
{% elif form_name == 'emails' %}
{% trans 'Emails' %}
{% else %}
{% trans 'Settings' %}
{% endif %}
{% endblock %}

{% block js2 %}
  {% if 'favorite_character1' in forms.preferences.fields and favorite_characters %}
<script>
var cuteformfavoptions = {
  'images': {
    '': '{{ static_url }}img/{{ empty_image }}',
    {% for character in favorite_characters %}
    '{{ character.0 }}': '{{ character.2 }}',
    {% endfor %}
  },
  'modal': 'true',
  'modal-text': 'true',
};
cuteform($('#id_favorite_character1'), cuteformfavoptions);
cuteform($('#id_favorite_character2'), cuteformfavoptions);
cuteform($('#id_favorite_character3'), cuteformfavoptions);
</script>
{% endif %}
{% endblock %}

{% block beforeform %}
{% if form_name == 'addLink' and links|length %}
<h1 id="links" class="text-center padding50">{% trans 'Links' %}</h1>
<br>
<form class="container_form" action="#addLink">
  <table class="table table-main table-padded table-rounded">
    {% for link in links %}
    <tr id="link{{link.id}}">
      <td>
	{% include 'include/link.html' %}
      </td>
      <td class="text-right" width="200"><a href="#deleteLink" data-link-id="{{ link.id }}" class="btn btn-lg btn-danger">{% trans 'Delete' %} {% trans 'Link' %}</a></td>
    </tr>
    {% endfor %}
  </table>
</form>
{% endif %}
{% endblock %}

{% block beforefields %}
{% endblock %}

{% block belowform %}
{% if form_name == 'addLink' %}
<h1 id="avatar" class="text-center padding50">{% trans 'Avatar' %}</h1>
<br>
<form class="container_form">
  <div class="alert alert-info">{% trans 'To change your avatar, use Gravatar with the same email address.' %}</div>
  <div class="text-right">
    <a href="https://github.com/SchoolIdolTomodachi/SchoolIdolAPI/wiki/How-to-change-your-avatar%3F" target="_blank" class="btn btn-lg btn-link">{% trans 'F.A.Q.' %}</a>
    <a class="btn btn-lg btn-main" href="https://{{ LANGUAGE_CODE }}.gravatar.com/" target="_blank">{% trans 'Change Avatar' %}</a>
  </div>
</form>

<h1 id="accounts" class="text-center padding50">{% trans 'Accounts' %}</h1>
<br>
<form class="container_form">
  <table class="table">
    {% for account in accounts %}
    <tr>
      <td><h4>{{ account }}</h4></td>
      <td class="text-right"><a href="/accounts/edit/{{ account.id }}/" class="btn btn-lg btn-main">{% trans 'Edit Account' %}</a></td>
    </tr>
    {% endfor %}
  </table>
  <div class="text-right">
    <a href="/user/{{ user.id }}/{{ user.username }}/" class="btn btn-lg btn-link">{% trans 'Back to my profile' %}</a>
    <a href="/accounts/add/" class="btn btn-lg btn-main"><i class="flaticon-add"></i> {% trans 'Add' %} {% trans 'Account' %}</a>
  </div>
</form>
<br><br><br><br><br><br>
{% endif %}
{% endblock %}

{% block otherbuttons %}
<a href="/user/{{ user.id }}/{{ user.username }}/" class="btn btn-lg btn-link">{% trans 'Back to my profile' %}</a>
{% endblock %}
