{# blocks: beforeform, imagetitle, title, beforefields, form, afterfields, belowform #}
{# variables: forms (dict name: form) #}
{% extends extends %}
{% load bootstrap %}
{% load i18n %}
{% load tools %}
{% load web_tags %}

{% block js %}
<script>
  var form_choices = {
  {% for form_name, form in forms.items %}
  '{{ form_name }}': {
     {% for name, field in form.fields.items %}
     {% if field.choices %}
     '{{ name }}': {
       {% for key, value in field.choices %}
       '{{ key }}': '{{ value }}',
       {% endfor %}
     },
     {% endif %}
     {% endfor %}
  },
  {% endfor %}
  };
</script>
{% endblock %}

{% block content %}
{% with form=form|default_if_none:0 %}
{% with forms=forms|getFormAsList:form %}
<div class="{% if not ajax %}container{% endif %} container-for-generic-form">
  {% for form_name, form in forms.items %}
  {% block beforeform %}{% endblock %}
  <h1 id="{{ form_name }}" class="text-center padding50 form-title">{% block imagetitle %}{% endblock %} {% block title %}{% endblock %}</h1>
  <form method="POST" class="{% if not ajax %}container_form{% endif %} generic-form"{% if multipart %} enctype="multipart/form-data"{% endif %} action="{% if ajax %}{{ current_url }}{% else %}#{{ form_name }}{% endif %}">
    {% block beforefields %}{% endblock %}
    {% block form %}
    {% csrf_token %}
    {% include "bootstrap_form_horizontal.html" with form=form wrap=0 %}
    <input type="hidden" name="{{ form_name }}" value="true">
    {% endblock %}
    {% block afterfields %}{% endblock %}
    <div class="pull-right">
      {% block otherbuttons %}
      {% endblock %}
      <button type="submit" name="{{ form_name }}" class="btn btn-main btn-lg generic-form-submit-button" data-form-loader="true">{% block submit %}{% trans 'Apply Changes' %}{% endblock %}</button>
    </div>
  </form>
<br><br>
  {% block belowform %}{% endblock %}
{% endfor %}
</div>
{% endwith %}
{% endwith %}
{% endblock %}
