{# required variables: items, per_line, col_size, col_break, name, total_results, page_size, page #}
{# optional variables: show_no_result #}

{% load i18n %}
{% load tools %}
{% if ajax_show_top_buttons and top_buttons and top_buttons_total %}
{% include 'include/list_top_buttons.html' %}
{% endif %}
{% if items|length == 0 %}
{% if show_no_result %}
<div class="padding50 no-result-wrapper">
  {% if no_result_template %}
  {% include no_result_template|add:'.html' %}
  {% else %}
  <h4 class="padding50 alert alert-info no-result-alert">
    {% trans 'No result.' %}
  </h4>
  {% endif %}
</div>
{% endif %}
{% else %}
{% if display_style == 'rows' %}<div class="row items" id="{{ collection.name }}-page-{{ page }}" data-page-number="{{ page }}">{% endif %}
  {% if display_style == 'table' %}<div class="table-responsive"><table class="{% for class in display_style_table_classes %}{{ class }} {% endfor %}collection-table" data-page-number="{{ page }}">
    {% if page == 1 %}{% if table_fields_headers_sections %}<tr class="table-headers-sections">{% for name, verbose_name, colspan in table_fields_headers_sections %}
      <th data-header-field="{{ name }}" colspan="{{ colspan }}">{{ verbose_name }}</th class="table-headers">{% endfor %}{% endif %}
    <tr>{% for name, verbose_name in table_fields_headers %}
      <th data-header-field="{{ name }}">{{ verbose_name }}</th>
    {% endfor %}{% if include_below_item and table_fields_headers %}<th></th>{% endif %}</tr>{% endif %}
    {% endif %}
  {% for item in items %}
  {% if display_style == 'rows' and forloop.counter0 != 0 and forloop.counter0|mod:per_line %}
</div><div class="row items">
  {% endif %}
  <{% if display_style == 'rows' %}div class="col-{{ col_break }}-{{ col_size }}"{% elif display_style == 'table' %}tr{% else %}div{% endif %} data-item="{{ collection.name }}" data-item-id="{{ item.id }}">

    {% if item.blocked_by_owner %}
    <div class="hidden">blocked</div>
    {% elif item.blocked %}
    {% if not item_blocked_template %}
    <div class="hidden">blocked</div>
    {% else %}
    {% if display_style == 'table' %}<td colspan="42">{% endif %}
      {% include 'items/'|add:item_blocked_template|add:'.html' %}
      {% if display_style == 'table' %}</td>{% endif %}
    {% endif %}
    {% else %}
    {% if show_owner %}{{ item.owner_unicode }}{% endif %}
    {% include 'items/'|add:item_template|add:'.html' %}
    {% if display_style != 'table' and include_below_item %}{% include 'include/below_item.html' %}{% endif %}
    {% endif %}
  </{% if display_style == 'table' %}tr{% else %}div{% endif %}>
{% endfor %}
{% if display_style == 'rows' %}</div><div id="{{ collection.name }}-end-of-page-{{ page }}"></div>{% endif %}
{% if display_style == 'table' %}</table></div>{% endif %}
{% include 'include/pagination.html' %}
{% endif %}
{% if is_last_page and after_template %}
{% include after_template|add:'.html' %}
{% endif %}
