{% extends "form.html" %}
{% load i18n %}

{% block imagetitle %}
{% if icontitle %}
<i class="flaticon-{{ icontitle }} form-icontitle"></i>
{% elif imagetitle %}
<img src="{% if '//' not in imagetitle %}{{ static_url }}img/{% endif %}{{ imagetitle }}{% if '//' not in imagetitle %}.png?{{ static_files_version }}{% endif %}" height="{% if imagetitle_size %}{{ imagetitle_size }}{% else %}39{% endif %}" class="modification-view-image-title form-imagetitle" />
{% endif %}
{% endblock %}

{% block submit %}{{ form.action_sentence }}{% endblock %}

{% block beforefields %}
{% if form_name|first == 'd' %}{# delete form #}
{% include 'include/alert.html' with alert_type='danger' alert_message=form.alert_message %}
{% elif alert_message %}
{% include 'include/alert.html' %}
{% endif %}
{% if next %}
<input class="hidden" name="next" value="{{ next }}">
{% if next_title %}
<input class="hidden" name="next_title" value="{{ next_title }}">
{% endif %}
{% endif %}
{% endblock %}

{% block otherbuttons %}
{% if back_to_list_button %}<a href="/{{ plural_name }}/" class="btn btn-link">{% trans 'Back to' %} {% trans plural_title %}</a>{% endif %}
{% if form_name|first != 'd' and otherbuttons_template %}{% include otherbuttons_template|add:'.html' %}{% endif %}
{% endblock %}

{% block belowform %}
{% if after_template %}
{% include after_template|add:'.html' %}
{% endif %}
{% endblock %}
