{% load i18n %}
{% load wchoices %}
{% load web_tags %}
{% with activity=item %}
<div class="activity padding20" data-id="{{ activity.id }}">
  <div class="row">
    <div class="col-xs-2">
      {% include 'include/avatar.html' with av_user=activity.cached_owner av_image_size=200 av_size=30 av_link=True %}
    </div>
    <div class="col-xs-10">
      <div>
	<small class="date">{{ activity.creation }}</small><br>
	<strong class="owner">{{ activity.cached_owner.username }}</strong><br>
	{% if activity.image %}
	<a href="{{ activity.image_url }}" target="_blank" class="a-nodifference activity-image" style="background-image: url('{{ activity.image_url }}');"><i class="flaticon-link"></i></a>
	{% endif %}
	<p class="message">{{ activity.message }}</p>
	<div class="tags text-muted fontx0-8">{% for tag in activity.tags %}<a href="/activities/?tags={{ tag }}" target="_blank" class="text-muted">#{{ tag|tagToString }}</a> {% endfor %}</div>
	<div class="socialbar">
	  <div class="btn-group share">
	    {% include 'include/share.html' with share_url=activity.http_item_url share_sentence=activity.shareSentence share_btn_class="main btn-sm" %}
	  </div>
	  <form method="POST" class="form-inline likeactivity" action="/ajax/likeactivity/{{ activity.id }}/">
	    {% csrf_token %}
	    <input type="hidden" name="{% if activity.liked %}unlike{% else %}like{% endif %}">
	    <div class="btn-group">
	      {% if user.is_authenticated %}
	      {% if activity.cached_owner.username == user.username %}
	      <button class="btn btn-link btn-sm" disabled><i class="flaticon-heart"></i> {% trans 'Liked' %}</button>
	      {% else %}
	      <button type="submit" class="btn btn-link btn-sm" data-reverse="{% if activity.liked %}<i class='flaticon-heart-empty'></i> {% trans 'Like' %}{% else %}<i class='flaticon-heart'></i> {% trans 'Liked' %}{% endif %}">{% if activity.liked %}<i class='flaticon-heart'></i> {% trans 'Liked' %}{% else %}<i class='flaticon-heart-empty'></i> {% trans 'Like' %}{% endif %}</button>
	      {% endif %}
	      {% else %}
	      <a href="/signup/?next={{ current_url }}" class="btn btn-link btn-sm"><i class="flaticon-heart"></i> {% trans 'Like' %}</a>
	      {% endif %}
	      <div class="btn btn-link btn-sm hidden-loader" style="display: none;"><i class="flaticon-loading"></i></div>
	      <a href="#likecount" class="btn btn-link btn-sm" data-manual-popover="true">{{ activity.total_likes|add:1 }}</a>
	    </div>
	    {% if current != 'activity_item' %}
	    <div class="btn-group writecomments">
	      <a href="{{ activity.item_url }}" target="_blank" class="btn btn-link btn-sm"><i class="flaticon-comments"></i> {% trans 'Write Comment' %}</a>
	      <a href="{{ activity.item_url }}/#disqus_thread" target="_blank" class="btn btn-link btn-sm disqus-comment-count" data-disqus-identifier="activity-{{ activity.id }}">{% trans 'Comments' %}</a>
	    </div>
	    {% endif %}
	    <div class="btn-group editbuttons">
	      {% if activity.cached_owner.username == user.username %}
	      <a href="/activities/edit/{{ activity.id }}/" target="_blank" class="btn btn-link btn-sm"><i class="flaticon-edit"></i> {% trans 'Edit' %} {% trans 'Activity' %}</a>
	      {% else %}
	      <a href="/reports/add/activity/?id={{ activity.id }}" target="_blank" class="btn btn-link btn-sm"><i class="flaticon-fingers"></i> {% trans 'Report' %}</a>
	      {% endif %}
	    </div>
	  </form>
	</div>
      </div>
    </div>
  </div>
</div>
{% endwith %}
