{% load i18n %}
{% load wchoices %}
{% load tools %}
{% load web_tags %}

{% with profile_user=item %}
<div class="container">
  <br><br>
  <div class="jumbotron jumbotron-{{ profile_user.preferences.css_color }}" id="profile">
    <div class="topprofile">
      <div class="row">
	<div class="col-sm-2">
	  {% include 'include/avatar.html' with av_user=profile_user av_size=60 av_image_size=200 %}
	</div>
	<div class="col-sm-10">
	  <div class="info">
	    <div class="pull-right text-right">
	      {% if user.is_authenticated and not profile_user.preferences.private and not is_me %}
	      <form method="POST" class="noform" id="follow" action="/ajax/follow/{{ profile_user.username }}/">
		{% csrf_token %}
		<input type="hidden" name="{% if profile_user.followed %}unfollow{% else %}follow{% endif %}">
		<div class="btn btn-lg btn-{{ profile_user.preferences.css_color }}" id="follow-hidden-loader" style="display: none;"><i class="flaticon-loading"></i></div>
		<input type="submit" class="btn btn-lg btn-{{ profile_user.preferences.css_color }}" value="{% if profile_user.followed %}{% trans 'Unfollow' %}{% else %}{% trans 'Follow' %}{% endif %}" data-reverse="{% if profile_user.followed %}{% trans 'Follow' %}{% else %}{% trans 'Unfollow' %}{% endif %}">
	      </form>
	      {% elif not user.is_authenticated %}
	      <a href="/signup/?next={{ current_url }}&next_title={% trans 'Profile' %}: {{ profile_user }}" class="btn btn-lg btn-{{ profile_user.preferences.css_color }}">{% trans 'Follow' %}</a><br>
	      {% elif is_me %}
	      <a href="/settings/" class="btn btn-lg btn-{{ profile_user.preferences.css_color }}"><i class="flaticon-edit"></i> {% trans 'Settings' %}</a><br>
	      {% endif %}
	      <br><a href="#followers"{% if not profile_user.total_followers %} style="display: none"{% endif %}><strong>{{ profile_user.total_followers }}</strong> {% trans 'Followers' %}</a>
	      <br><a href="#following"{% if not profile_user.total_following %} style="display: none"{% endif %}><strong>{{ profile_user.total_following }}</strong> {% trans 'Following' %}</a>
	    </div>
	    <h1 class="text-secondary" id="username" data-user-id="{{ profile_user.id }}">{{ profile_user.username }}</h1>
	    {% if profile_user.preferences.status and profile_user.preferences.status != 'THANKS' %}<a href="/donate/"><h2 style="color: {{ profile_user.preferences.status|statusToColor }}">{{ profile_user.preferences.status|statusToString }}</h2></a>{% endif %}
	    <br>
	    <div class="description">{% if profile_user.preferences.description %}{{ profile_user.preferences.description }}{% endif %}</div>
	    {% if not is_me %}<a href="/reports/add/user/?id={{ profile_user.id }}" target="_blank" class="btn btn-link btn-sm"><i class="flaticon-fingers"></i> {% trans 'Report' %}</a>{% endif %}
	    <div class="text-right">
	      <div class="btn-group">
		{% include 'include/share.html' with share_btn_class=profile_user.preferences.css_color %}
	      </div>
	    </div>
	  </div>
	</div>
      </div>
    </div>
  </div>
  <div class="profile-tabs{% if not profile_user.all_links %} empty{% endif %}">
    <table>
      <tr>
	{% for link in profile_user.all_links %}
	{% if forloop.counter0|mod:per_line %}
    </tr></table>
    <table class="white-table table-responsive text-center table-buttons">
      <tr>
	{% endif%}
	<td>
	  {% include 'include/link.html' %}
	</td>
	{% endfor %}
      </tr>
    </table>
  </div>
  <div>

    <!-- Nav tabs -->
    {% if 'activity' in all_enabled %}
    <ul class="nav nav-tabs" id="profiletabs">
      <li class="active"><a href="#profileaccounts" data-toggle="tab">{% if profile_user.all_accounts|length > 1 %}{% trans 'Accounts' %}{% else %}{% trans 'Account' %}{% endif %}</a></li>
      <li><a href="#profileactivities" data-toggle="tab">{% trans 'Activities' %}</a></li>
    </ul>
    {% endif %}

    <!-- Tab panes -->
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="profileaccounts">

	{% if profile_user.all_accounts|length == 0 %}
	<h2>
	  {% if is_me %}
	  <div class="pull-right">
	    <a href="/accounts/add/" class="btn btn-{{ profile_user.preferences.css_color }} btn-lg">
	      {% trans 'Add' %} {% trans 'Account' %}
	    </a>
	  </div>
	  {% endif %}
	  {% trans 'No account.' %}</h2>
	{% else %}
	{% if show_total_accounts %}
	{% with length=profile_user.all_accounts|length %}
	<h2>{% blocktrans count counter=length %}{{ length }} account:{% plural %}{{ length }} accounts:{% endblocktrans %}</h2>
	{% endwith %}
	{% endif %}
	{% include 'accountsForProfile.html' %}
	{% endif %}
	<br><br>
	{% include 'include/disqus.html' with disqus_identifier='user-'|addint:profile_user.id %}

      </div>

      <div role="tabpanel" class="tab-pane" id="profileactivities">
	{% if is_me %}
	<br>
	<a class="btn btn-main btn-xl btn-lines btn-block btn-add-activity" href="/activities/add/">
	  <h3>{% trans 'Add' %} {% trans 'Activity' %}</h3>
	  <small>{% trans add_activity_sentence %}</small>
	</a>
	{% endif %}
	<br>

	<div id="activities"></div>

      </div>

    </div>

    </div>
</div>
{% endwith %}
