{% load i18n %}
{% load l10n %}
{% load wchoices %}
{% load tools %}
{% load web_tags %}
{% with profile_user=item %}
<div>
  <br><br>
  <div class="jumbotron jumbotron-{{ profile_user.preferences.css_color }}" id="profile">
    <div class="topprofile">
      <div class="row">
	<div class="col-sm-2">
	  {% include 'include/avatar.html' with av_user=profile_user av_size=60 av_image_size=200 %}
	</div>
	<div class="col-sm-10">
	  <div class="info">
	    <div class="pull-right text-right">
	      {% if user.is_authenticated and not profile_user.preferences.private and not is_me %}
	      <form method="POST" class="noform" id="follow" action="/ajax/follow/{{ profile_user.username }}/">
		{% csrf_token %}
		<input type="hidden" name="{% if profile_user.followed %}unfollow{% else %}follow{% endif %}">
		<div class="btn btn-lg btn-{{ profile_user.preferences.css_color }}" id="follow-hidden-loader" style="display: none;"><i class="flaticon-loading"></i></div>
		<input type="submit" class="btn btn-lg btn-{{ profile_user.preferences.css_color }}" value="{% if profile_user.followed %}{% trans 'Unfollow' %}{% else %}{% trans 'Follow' %}{% endif %}" data-reverse="{% if profile_user.followed %}{% trans 'Follow' %}{% else %}{% trans 'Unfollow' %}{% endif %}">
	      </form>
	      {% elif not user.is_authenticated %}
	      <a href="/signup/?next={{ current_url }}&next_title={% trans 'Profile' %}: {{ profile_user }}" class="btn btn-lg btn-{{ profile_user.preferences.css_color }}">{% trans 'Follow' %}</a><br>
	      {% elif is_me %}
	      <a href="/settings/" class="btn btn-lg btn-{{ profile_user.preferences.css_color }}"><i class="flaticon-edit"></i> {% trans 'Settings' %}</a><br>
	      {% endif %}
	      <br><a href="#followers"{% if not profile_user.total_followers %} style="display: none"{% endif %}><strong>{{ profile_user.total_followers }}</strong> {% trans 'Followers' %}</a>
	      <br><a href="#following"{% if not profile_user.total_following %} style="display: none"{% endif %}><strong>{{ profile_user.total_following }}</strong> {% trans 'Following' %}</a>
	    </div>
	    <h1 class="text-secondary" id="username" data-user-id="{{ profile_user.id }}">{{ profile_user.username }}</h1>
	    {% if profile_user.preferences.status and profile_user.preferences.status != 'THANKS' %}<a href="/donate/"><h2 style="color: {{ profile_user.preferences.status|statusToColor }}">{{ profile_user.preferences.status|statusToString }}</h2></a>{% endif %}
	    <br>
	    <div class="description">{% if profile_user.preferences.description %}{{ profile_user.preferences.description }}{% endif %}</div>
	    {% if not is_me %}<a href="/reports/add/user/?id={{ profile_user.id }}" target="_blank" class="btn btn-link btn-sm"><i class="flaticon-fingers"></i> {% trans 'Report' %}</a>{% endif %}
	    <div class="text-right badges">
	      {% for badge in profile_user.latest_badges %}<a href="{{ badge.item_url }}" data-ajax-url="{{ badge.ajax_item_url }}" data-ajax-title="{{ badge }}" class="mini-badge badge-color{{ badge.rank|default_if_none:"" }}" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="<span class='text-badge-color{{ badge.rank|default_if_none:"" }}'>{% if badge.rank %}<img src='{{ static_url }}img/badges/medal{{ badge.rank }}.png'> {% endif %}{{ badge }}</span>" data-html="true" style="background-image: url('{{ badge.image_url }}');">
	      <i class="flaticon-more placeholder"></i></a>{% endfor %}{% if more_badges %}<a href="#openBadges" class="mini-badge badge-color" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="{% trans 'Load more...' %}">
		<i class="flaticon-more"></i>
	      </a>
	      {% endif %}
	      <div class="btn-group">
		{% include 'include/share.html' with share_btn_class=profile_user.preferences.css_color %}
	      </div>
	    </div>
	  </div>
	</div>
      </div>
    </div>
  </div>
  <div class="profile-tabs{% if not profile_user.all_links %} empty{% endif %}">
    <table>
      <tr>
	{% for link in profile_user.all_links %}
	{% if forloop.counter0|mod:per_line %}
    </tr></table>
    <table class="white-table table-responsive text-center table-buttons">
      <tr>
	{% endif%}
	<td>
	  {% include 'include/link.html' %}
	</td>
	{% endfor %}
      </tr>
    </table>
  </div>
  <div>

    <!-- Nav tabs -->
    {% if 'activity' in all_enabled or profile_extra_tabs %}
    <ul class="nav nav-tabs" id="profiletabs">
      <li class="active" style="width: {% localize off %}{{ profile_tabs_size }}{% endlocalize %}%;"><a href="#profileaccounts" data-toggle="tab">
	  <i class="flaticon-users"></i>
	  <span class="hidden-xs hidden-sm">{% if profile_user.all_accounts|length > 1 %}{% trans 'Accounts' %}{% else %}{% trans 'Account' %}{% endif %}</span>
      </a></li>
      {% if 'activity' in all_enabled %}
      <li style="width: {% localize off %}{{ profile_tabs_size }}{% endlocalize %}%;"><a href="#profileactivities" data-toggle="tab">
	  <i class="flaticon-comments"></i>
	  <span class="hidden-xs hidden-sm">{% trans 'Activities' %}</span>
      </a></li>
      {% endif %}
      {% if profile_extra_tabs %}
      {% for tab_name, tab in profile_extra_tabs.items %}
      <li style="width: {% localize off %}{{ profile_tabs_size }}{% endlocalize %}%;"><a href="#profile{{ tab_name }}" data-toggle="tab">
	  {% if tab.icon %}<i class="flaticon-{{ tab.icon }}"></i><span class="hidden-xs hidden-sm">{% endif %}
	  {{ tab.name }}{% if tab.icon %}</span>{% endif %}
      </a></li>
      {% endfor %}
      {% endif %}
    </ul>
    {% endif %}

    <!-- Tab panes -->
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="profileaccounts">

	{% if profile_user.all_accounts|length == 0 %}
	<h2>
	  {% if is_me %}
	  <div class="pull-right">
	    <a href="/accounts/add/" class="btn btn-{{ profile_user.preferences.css_color }} btn-lg">
	      {% trans 'Add' %} {% trans 'Account' %}
	    </a>
	  </div>
	  {% endif %}
	  {% trans 'No account.' %}</h2>
	{% else %}
	{% if show_total_accounts %}
	{% with length=profile_user.all_accounts|length %}
	<h2>{% blocktrans count counter=length %}{{ length }} account:{% plural %}{{ length }} accounts:{% endblocktrans %}</h2>
	{% endwith %}
	{% endif %}
	{% include 'accountsForProfile.html' %}
	{% endif %}
	<br><br>
	{% include 'include/disqus.html' with disqus_identifier='user-'|addint:profile_user.id %}

      </div>

      <div role="tabpanel" class="tab-pane" id="profileactivities">
	{% if is_me %}
	<br>
	<a class="btn btn-main btn-xl btn-lines btn-block btn-add-activity" href="/activities/add/">
	  <h3>{% trans 'Add' %} {% trans 'Activity' %}</h3>
	  <small>{% trans add_activity_sentence %}</small>
	</a>
	{% endif %}
	<br>

	<div id="activities"></div>

      </div>

      {% if profile_extra_tabs %}
      {% for tab_name, tab in profile_extra_tabs.items %}
      <div role="tabpanel" class="tab-pane" id="profile{{ tab_name }}"></div>
      {% endfor %}
      {% endif %}

    </div>

    </div>
</div>
<script>
  var tab_callbacks = {
  {% if profile_extra_tabs %}
  {% for tab_name, tab in profile_extra_tabs.items %}
  '{{ tab_name }}': '{{ tab.callback }}',
  {% endfor %}
  {% endif %}
  };
</script>
{% endwith %}
