{% extends "simpleForm.html" %}
{% load i18n %}

{% block title %}{% trans title %}{% endblock %}

{% block beforefields %}
{% if validlink %}
<p class="alert alert-info">
  {% trans "Please enter your new password twice so we can verify you typed it in correctly." %}
</p>
{% endif %}
{% endblock %}

{% block submit %}{% trans 'Change my password' %}{% endblock %}

{% block belowform %}
{% if not validlink %}
<br>
<div class="container_form">
  <p class="alert alert-danger">
    {% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}
  </p>
  <div class="text-right">
    <a href="/password_reset/" class="btn btn-lg btn-main">{% trans 'Reset my password' %}</a>
  </div>
</div>
{% endif %}
{% endblock %}
