{# required av_user, av_size, av_image_size #}
{# optional av_account_id, av_class #}
{# optional boolean av_link, av_external, av_username, av_button, av_fixed, av_inline #}

{% load wchoices %}
{% load web_tags %}
<{% if av_link %}a href="{{ av_user.item_url }}{% if av_account_id %}#{{ av_account_id }}{% endif %}"{% if av_external %} target="_blank"{% endif %}{% else %}div{% endif %} class="{% if av_inline %}inline-block {% endif %}avatar_wrapper {% if av_button %} btn btn-main{% endif %} {{ av_class }}" {% if av_user.preferences.status and av_user.preferences.status != 'THANKS' %}data-user-status="{{ av_user.preferences.status|statusToString }}" style="color: {{ av_user.preferences.status|statusToColor }}; font-size: {{ av_size }}px;" data-toggle="popover" data-trigger="hover" data-placement="bottom" data-content="{{ av_user.preferences.status|statusToString }}"{% endif %}>
  <img src="{{ av_user|avatar:av_image_size }}" class="avatar {% if not av_inline %}img-responsive{% endif %}"{% if av_fixed %} height="{{ av_image_size }}" width="{{ av_image_size }}"{% endif %} >
  {% if av_user.preferences.status and av_user.preferences.status != 'THANKS' %}<i class="flaticon-heart" style="color: {{ av_user.preferences.status|statusToColor }}; line-height: {{ av_size }}px; height: {{ av_size }}px; width: {{ av_size }}px; font-size: {{ av_size }}px; margin-top: -{% widthratio av_size 1.5 1 %}px; margin-left: -{% widthratio av_size 2.8 1 %}px;"></i>{% endif %}
  {% if av_username %}{% if av_inline %} {{ av_user.username }}{% else %}<h4>{{ av_user.username }}</h4>{% endif %}{% endif %}
</{% if av_link %}a{% else %}div{% endif %}>
