{% if show_edit_button %}
{% if not show_edit_button_owner_only or item.owner_id == user.id or user.is_staff %}
<div class="text-right"><a href="{{ item.edit_url }}" class="btn btn-sm btn-secondary{% if edit_button_staff_only or item.owner_id != user.id %}{% if edit_button_staff_only or show_edit_button_owner_only %} staff-only{% endif %}{% endif %}"><i class="flaticon-edit"></i> {{ item.edit_sentence }}</a></div>
{% endif %}
{% endif %}
{% if show_relevant_fields_on_ordering and item.relevant_fields_to_show %}
{% include 'include/fields_table.html' with fields=item.relevant_fields_to_show bottom=False %}
{% endif %}
