{% load i18n %}
{% load web_tags %}
{% load wchoices %}
<a href="{{ link|linkUrl }}" target="_blank">
  <div class="row"><div class="col-xs-8"><strong>
	{% if link.translate_type %}{% trans link.type %}{% else %}{{ link.type|linkToString }}{% endif %}
    </strong></div>
    <div class="col-xs-4 text-right">
      {% if link.flaticon %}
      <i class="flaticon-{{ link.flaticon }}"></i>
      {% else %}
      <img src="{% linkImageURL link=link %}" alt="{{ link.type }}" width="24" height="24">
      {% endif %}
    </div>
  </div>
  {{ link.value }}
</a>
